@use '../utils/mixins/block-quote' as *;
@use '../utils/mixins/border' as *;
@use '../utils/mixins/breakpoint' as *;

.block-quote {

  margin: 0;
  padding: 0;

  &__main {
    &-content {
      @include border-solid( '2px', 'black', 'top' );
      @include border-solid( '2px', 'black', 'bottom' );
      line-height: 1.25;
      font-size: 24px;
      padding: 24px 14px;
    }
  }

  @include breakpoint(lg) {
    &__main {
      &-content {
        font-size: 32px;
        padding: 30px;
      }
    }
  }

}
