@use '../utils/mixins/breakpoint' as *;

.call-to-action {

  .button {
    font-family: "Bookerly-BoldItalic", sans-serif;
    background: #ff9900;
    color: var(--theme-colour--black);
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 12px 0;
    &:focus,
    &:hover {
      background: var(--theme-colour--black);
      color: #ff9900;
    }
    &__title {
      font-size: 1.5rem;
    }
  }

  &__layout {
    display: grid;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
  }

  &__links {
    width: 100%;
  }

  &__link {
    width: 100%;
    & + .call-to-action__link {
      margin-top: 15px;
    }
  }

  &__text {
    &-extra {
      height: 34px;
      img, svg {
        display: block;
        height: 100%;
        width: auto;
      }
    }
    & + .call-to-action__text-extra {
      margin-top: 20px;
    }
  }

  @include breakpoint(sm) {

    .button {
      &__title {
        font-size: 20px;
      }
    }

  }

  @include breakpoint(md) {

    .button {
      &__title {
        font-size: 22px;
      }
    }

  }

  @include breakpoint(lg) {

    .button {
      &__title {
        font-size: 29px;
      }
    }

    &__layout {
      grid-template-columns: repeat(2, 1fr);
    }

  }

  @include breakpoint(xl) {

    .button {
      &__title {
        font-size: 37px;
      }
    }

    &__layout {
      gap: 40px;
    }

  }

  @include breakpoint(xxl) {

    .button {
      &__title {
        font-size: 44px;
      }
    }

    &__layout {
      gap: 50px;
    }

  }

}
