.embedded-video {

  iframe {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__main {
    &-content {
      position: relative;
      width: 100%;
      display: block;
    }
  }

}
