@use '../utils/mixins/breakpoint' as *;

.hero {

  text-align: left;

  &__categories,
  &__excerpt,
  &__heading {
    & + .hero__feature {
      margin-top: 24px;
    }
  }

  &__categories {
    font-size: 21px;
    & + .hero__title {
      margin-top: 10px;
    }
  }

  &__date-published {
    transition: width var(--theme-transition--duration);
    display: block;
    line-height: 1;
    transform-origin: top right;
    text-align: left;
    margin-top: 15px;
  }

  &__feature {
    position: relative;
  }

  &__featured {
    position: relative;
    margin-top: 28px;
    &-image {
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      &-badge {
        position: absolute;
        width: 30%;
        height: auto;
        top: 12px;
        left: 6px;
        transform: rotate(-7.5deg);
        img, svg {
          display: block;;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  &__graphic {
    width: 75%;
    margin: 35px auto 0;
    display: block;
  }

  &--work {
    text-align: center;
    .hero__title {
      font-size: 44px;
    }
  }

  @include breakpoint(sm) {

    &--work {
      .hero__title {
        font-size: 50px;
      }
    }

  }

  @include breakpoint(md) {

    &__graphic {
      width: 50%;
      margin: 40px auto 0;
    }

    &--work {
      .hero__title {
        font-size: 60px;
      }
    }

  }

  @include breakpoint(lg) {

    &__date-published {
      position: absolute;
      top: 0;
      right: -10px;
      width: 66%;
      transform: rotate(-90deg);
      margin: 0;
    }

    &__featured {
      &-image {
        &-badge {
          width: 25%;
        }
      }
    }

    &--work {
      .hero__title {
        font-size: 90px;
      }
    }

  }

  @include breakpoint(xl) {

    &__categories {
      font-size: 23px;
    }

    &__graphic {
      margin: 50px auto 0;
    }

    &--work {
      .hero__title {
        font-size: 110px;
      }
    }

  }

  @include breakpoint(xxl) {

    &__categories {
      font-size: 25px;
    }

    &--work {
      .hero__title {
        font-size: 120px;
      }
    }

  }

}
