@use '../utils/mixins/marquee' as *;

.marquee {

   @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX( calc( -100% - var(--marquee-gap) ) );
    }
  }

  gap: var(--marquee-gap);
  display: grid;
  align-content: center;
  overflow: hidden;
  width: 100%;

  p, span {
    color: currentcolor;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  &__group {
    gap: var(--marquee-gap);
    animation-duration: var(--marquee-duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: scroll;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
  }

  &__item {
    text-transform: uppercase;
  }

  &__main {
    gap: var(--marquee-gap);
    display: flex;
    user-select: none;
    overflow: hidden;
  }

  &--primary {
    @include marquee-style('primary');
  }

  &--secondary {
    @include marquee-style('secondary');
  }

  &--tertiary {
    @include marquee-style('tertiary');
  }

  &--xl {
    @include marquee-size('xl');
  }

  &--lg {
    @include marquee-size('lg');
  }

  &--md {
    @include marquee-size('md');
  }

  &--sm {
    @include marquee-size('sm');
  }

  &--ltr {
    .marquee__group {
      animation-delay: calc( var(--marquee-duration) / -2 );
      animation-direction: reverse;
    }
  }

  &--rtl {
    .marquee__group {
      animation-delay: 0;
      animation-direction: normal;
    }
  }

  &:hover {
    .marquee__group {
      animation-play-state: paused;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    &__group {
      animation-play-state: paused;
    }
  }

}
