.post-listing {

  .card-post,
  .grid {
    gap: var(--block--post-listing--gap);
  }

  .card-post {
    &__featured-image {
      width: 100%;
      height: auto;
      aspect-ratio: 523/386;
      a, img {
        display: block;
        width: 100%;
        height: 100%;
      }
      img {
        border-radius: var(--block--post-listing--border-radius);
        object-fit: cover;
      }
    }
  }

  .masonry-grid {
    &__filter-button {
      &:hover,
      &.is-selected {
        background: var(--theme-colour--yellow);
      }
    }
  }

  &__featured-post {
    & + .post-listing__grid {
      margin-top: var(--block--post-listing--gap);
    }
  }

  &__hr {
    height: var(--theme-border--width);
    margin-top: var(--block--post-listing--gap);
    margin-bottom: var(--block--post-listing--gap);
    background: currentcolor;
    width: 100%;
    display: block;
  }

}
