@use '../utils/mixins/border' as *;
@use '../utils/mixins/breakpoint' as *;

.related-posts {

  .card-post,
  .grid {
    gap: var(--block--related-posts--gap);
  }

  .card-post {
    &__featured-image {
      img {
        border-radius: var(--block--related-posts--border-radius);
      }
    }
  }

  &__grid {
    margin-top: 32px;
  }

  &__hr {
    height: var(--theme-border--width);
    background: currentcolor;
    width: 100%;
    display: block;
  }

  &__heading {
    font-size: 5.5vw;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 28px;
  }

  @include breakpoint(sm) {
    &__heading {
      font-size: 32px;
    }
  }

  @include breakpoint(md) {
    &__heading {
      font-size: 42px;
    }
  }

  @include breakpoint(lg) {
    &__heading {
      font-size: 54px;
      text-align: center;
    }
  }

  @include breakpoint(xl) {
    &__heading {
      font-size: 65px;
    }
  }

  @include breakpoint(xxl) {
    &__heading {
      font-size: 77px;
    }
  }

}
