.showcase {

  &__item {
    transition: height var(--theme-transition--duration);
    height: 100vh;
    width: 100%;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

}
