.footer {

  flex-shrink: 0;

  &__about {
    width: 100%;
    max-width: 400px;
    p {
      &:first-child {
        //font-weight: bold;
      }
      &:last-child {
        margin: 0;
      }
    }
  }

  &__credits,
  &__credit {
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      color: inherit;
      display: inline-block;
      width: auto;
    }
  }

  &__credits {
    @include body-copy( 0.9 );  // body copy reduced
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  &__credit {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    text-align: left;
    margin: 0 0 20px 0;
    line-height: 1.6;
    font-size: 12px;
    text-transform: uppercase;
    span {
      display: inline-block;
    }
    &:last-child {
      margin: 0;
    }
  }

  &__icon-set {
    margin-top: 42px;
    width: 100%;
    max-width: 400px;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__main {
    padding: 30px;
  }

  &__project {
    text-transform: uppercase;
    line-height: .866666666666666;
    & + .footer__about {
      margin-top: 18px;
    }
  }

  &__project-title {
    text-transform: uppercase;
    display: block;
  }

  &--front-page {
    background: var(--theme-colour--white);
    color: var(--theme-colour--black);
  }



	@include breakpoint(md) {

  	&__credit {
      flex: 1 0 33.3333%;
      text-align: left;
      margin: 0;
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }

	} // min width md

	@include breakpoint(lg) {

    &__credit {
      flex: 1 0 33.3333%;
      margin: 0;
      line-height: 1.4;
      text-align: center;
    }

    &__icon-set {
      margin-top: 0;
      width: auto;
      max-width: none;
      height: 30px;
      img, svg {
        width: auto;
        height: 100%;
      }
    }

    &__project {
      font-size: 12px;
    }

    &--front-page {
      .footer {
        &__main {
          padding: 12px 32px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &__tagline {
          margin-bottom: 5px;
        }
      }
    }

	} // min width lg





} // footer
