//////////////////////////////////////////////////////////
////  Forms | Variables
//////////////////////////////////////////////////////////

$input-radio-width: 38;
$input-radio-height: 25;
$input-radio-hypotenuse: pythag( $input-radio-width, $input-radio-height );

$spinner-size: 34px;

$SINA: sina( 0.5496165015 );

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//////////////////////////////////////////////////////////
////  Forms | Styles
//////////////////////////////////////////////////////////

.form {

  background: transparent;
  position: relative;
  overflow: hidden;

  ::placeholder {
    color: var(--theme-colour--black);
  }

  input,
  textarea {
    border-radius: 0;
    display: block;
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
    width: 100%;
    line-height: 0.9;
  }

  textarea {
    border: 2px solid var(--theme-colour--black);
    padding: 10px;
    line-height: 1.2;
    min-height: 200px;
  }

  // ---------------------------------------- Intro
  &__intro {
    margin: 0 0 18px 0;
  }

  // ---------------------------------------- Header
  &__header {
    border-bottom: 2px solid var(--theme-colour--black);
    display: flex;
    flex-flow: row wrap;
    text-transform: uppercase;
    .form__column {
      &:nth-child(1) {
        padding-right: 15px;
        border-right: 2px solid var(--theme-colour--black);
        .form__column-row {
          display: flex;
          width: 100%;
        }
      }
      &:nth-child(3) {
        padding-left: 15px;
        display: flex;
        flex: 1;
        justify-content: flex-end;
        span {
          height: 27px;
          display: block;
        }
        img {
          display: block;
          height: 100%;
          width: auto;
        }
      }
      &:nth-child(2),
      &:nth-child(4) {
        display: none;
      }
    }
  }

  &__loading {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }

  &__spinner {
    border: 3px solid rgba( var(--theme-colour-black), 0.3333);
    border-left-color: var(--theme-colour--black);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transform: translate3d(0, 0, 0);
  }

  &__button {
    display: block;
    width: 100%;
    padding: 14px 0 10px;
    line-height: 0.9;
  }

  &__field {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    &--radio,
    &--input {
      border-bottom: 2px solid var(--theme-colour--black);
    }
    &.error {
      input {
        background: rgba( #ff4800, 0.15 );
      }
      textarea {
        background: rgba( #ff4800, 0.15 );
      }
      &.form__field--radio {
        background: rgba( #ff4800, 0.15 );
      }
    }
  }

  &__label {
    display: block;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.1;
    width: 100%;
    &--heading {
      width: 100%;
    }
    &--radio {}
  }

  &.posting {
    .form__main {
      opacity: 0.25;
    }
    .form__loading {
      z-index: 10;
      display: flex;
    }
    .form__spinner {
      animation: loader 0.9s infinite linear;
    }
  }

  .form__label-pattern {
    background: url("<?php echo $assets_dir; ?>/img/diagonal-stripes.svg") repeat repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 11px;
    z-index: 0;
    margin: 0;
    padding: 0;
    display: none;
  }

  // ---------------------------------------- Message

  .form__message {

    display: block;
    width: 100%;
    text-align: center;

    .default,
    .success,
    .summary,
    .error {
      display: none;
    }

    .success {

      text-transform: uppercase;
      padding-top: 12px;

      &__top,
      &__bottom {
        position: relative;
        display: flex;
        flex-flow: nowrap row;
        justify-content: center;
        span.form__label-pattern {
          display: none;
        }
        span:not(.form__label-pattern) {
          background: var(--theme-colour--yellow);
          position: relative;
          z-index: 1;
        }
      }

      &__top {
        span:not(.form__label-pattern) {
          padding-right: 12px;
        }
      }

      &__bottom {
        span:not(.form__label-pattern) {
          padding-left: 12px;
        }
      }


      span {
        display: block;
      }

      &.active {
        display: flex;
        flex-flow: row wrap;
      }

    }

    .error--form-overview {
      padding: 12px;
    }

    .default{
      &.active {
        display: block;
      }
    }

  }

  // ---------------------------------------- Form Field

  .form__field {}

  // ---------------------------------------- Form Field | Checkbox

  .form__field--checkbox {

    justify-content: start;
    padding: 10px 0;

    .form__label {
      margin-top: 10px;
      margin-right: 20px;
      width: auto;
    }

    .form__label--checkbox:last-child {
      margin-right: 0;
    }

    .form__label--heading {
      width: 100%;
    }

    input {
      display: none;
      &:checked {
        & + .checkbox {
          .checkbox__image--checked {
            opacity: 1;
          }
        }
      }
    }

    .checkbox {

      display: flex;
      justify-content: center;
      align-items: center;

      &__title {
        margin-top: 7px;
      }

      &__box {
        height: auto;
        width: $input-radio-width * 1px;
        display: block;
        position: relative;
        & + .checkbox__title {
          margin-left: 8px;
        }
        span {}
      }

      &__image {
        width: 100%;
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      &__image--no-checked {

      }

      &__image--checked {
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
      }

    }

  }

  // ---------------------------------------- Form Field | File

  .form__field--file {

    display: block;
    margin-top: 25px;

    .form__label {
      position: relative;
    }

    .form__label--heading {}

    .form__label--note {
      margin-bottom: 8px;
      span {
        padding: 0 12px 0 0;
      }
    }

    input {
      padding: 12px;
      outline-color: var(--theme-colour--black);
      outline: dashed;
      outline-width: 2px;
      outline-offset: -2px;
    }

    .form__message {
      .error--file-size {
        padding-top: 12px;
      }
    }

    .form__upload {
      width: 100%;
      align-content: center;
    }

  }

  // ---------------------------------------- Form Field | Input/Text

  .form__field--input {
    justify-content: space-between;
    .form__label {
      margin-right: 15px;
      margin-bottom: -4px;
      width: auto;
    }
    input {
      flex: 2;
      padding: 12px 0 8px 12px;
      border-left: 2px solid var(--theme-colour--black);
    }
  }

  // ---------------------------------------- Form Field | Radio

  .form__field--radio {

    justify-content: start;
    padding: 10px 0;

    .form__label {
      margin-top: 10px;
      margin-right: 10px;
      width: auto;
    }

    .form__label--heading {
      width: 100%;
    }

    input {
      display: none;
      &:checked {
        & + .radio {
          .radio__image--checked {
            opacity: 1;
          }
        }
      }
    }

    .radio {

      display: flex;
      justify-content: center;
      align-items: center;

      &__title {
        margin-top: 6px;
      }

      &__box {
        height: auto;
        width: $input-radio-width * 1px;
        display: block;
        position: relative;
        & + .radio__title {
          margin-left: 10px;
        }
        span {}
      }

      &__image {
        width: 100%;
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      &__image--no-checked {

      }

      &__image--checked {
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
      }

    }

  }

  // ---------------------------------------- Form Field | Submit

  .form__field--submit {
    margin-top: 20px;
  }

  // ---------------------------------------- Form Field | Textarea

  .form__field--textarea {

    padding-top: 15px;

    .form__label {
      display: flex;
      margin-bottom: 8px;
      justify-content: space-between;
      flex-flow: row wrap;
      position: relative;
      span {
        &:not( .form__label-pattern ) {
          display: block;
          width: 100%;
        }
      }
    }

    .form__label {}

  }

  // ---------------------------------------- Form with Advanced Upload

  .form__field--name,
  .form__field--phone,
  .form__field--email {
    .form__label {
      width: 10%;
    }
  }

  &--has-advanced-upload {

    .form__field--file {

      input {
        position: absolute;
        right: -10000px;
      }

      .form__message {
        text-align: center;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-flow: row wrap;

        .default,
        .summary,
        .error {
          width: 100%;
        }
        .default {
          font-family: var(--theme-serif--akkurat );
          font-weight: normal;
          text-transform: uppercase;
        }
        .summary {
          & + .error {
            margin-top: 10px;
          }
        }
        .error {
          padding: 0;
          & + .error {
            margin-top: 10px;
          }
        }
      }

      .form__upload {
        outline-color: var(--theme-colour--black);
        outline: dashed;
        outline-width: 2px;
        outline-offset: -2px;
        height: 180px;
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
        flex-flow: row wrap;
        align-content: center;
      }

    }

    &.is-dragover {

      .form__upload {
        background: var(--theme-colour--black);
        color: var(--theme-colour--yellow);
        outline-color: var(--theme-colour--yellow);
        outline-offset: -10px;
      }

    }

  }

  // ---------------------------------------- Thank You

  &__thank-you {
    text-align: center;
    display: none;
    .section__heading {
      font-size: 45px;
    }
  }

  

	@include breakpoint(md) {

    // ---------------------------------------- Thank You

    &__thank-you {
      .section__heading {
        font-size: 60px;
      }
    }

	} // min width md

	@include breakpoint(lg) {

  	.form__label-pattern {
      display: block;
    }

  	// ---------------------------------------- Header

    &__header {
      flex-flow: row nowrap;
      .form__column {
        width: auto;
        border-right: 2px solid var(--theme-colour--black);
        padding: 0 12px;
        &:nth-child(1) {
          padding-left: 0;
          width: 44%;
        }
        &:nth-child(3) {
          padding-left: 12px;
          span {
            height: 26px;
          }
        }
        &:nth-child(2),
        &:nth-child(4) {
          display: block;
        }
        &:nth-child(4) {
          border-right: none;
        }
      }
      .form__column-row {
        display: flex;
        width: 100%;
        position: relative;
        &:first-child {
          justify-content: flex-end;
          span:nth-child(2) {
            text-align: right;
            padding: 0 0 0 12px;
          }
        }
        &:last-child {
          justify-content: flex-start;
          span:nth-child(2) {
            text-align: right;
            padding: 0 12px 0 0;
          }
        }
        span:not(.form__label-pattern) {
          background: var(--theme-colour--yellow);
          z-index: 1;
          position: relative;
        }
      }
    }

  	// ---------------------------------------- Message

    .form__message {


      .success {


        &__top,
        &__bottom {
          span.form__label-pattern {
            display: block;
          }
        }

        &__top {
          justify-content: flex-start;
        }

        &__bottom {
          justify-content: flex-end;
        }

        &.active {
          flex-flow: row nowrap;
          justify-content: space-between;
        }

      }

    }

    // ---------------------------------------- Form Field

    .form__field {}

    // ---------------------------------------- Form Field | Checkbox

    .form__field--checkbox {

      .form__label--heading {
        width: auto;
        margin-right: 20px;
        margin-bottom: 3px;
        align-self: flex-end;
      }

      .form__label--checkbox {
        margin-top: 0;
      }

      .checkbox__title {
        align-self: flex-end;
        margin-bottom: 3px;
      }

      .checkbox {
        &__title {
          margin-top: 0;
        }
      }

    }

  	// ---------------------------------------- Form Field | File

    .form__field--file {

      .form__label {
        display: flex;
        justify-content: space-between;
        position: relative;
        span:not(.form__label-pattern) {
          background: var(--theme-colour--yellow);
          position: relative;
          z-index: 1;
        }
      }

      .form__label--heading {
        margin: 0;
        span:nth-child(2) {
          margin-left: 36px;
          padding: 0 12px;
        }
        span:nth-child(3) {
          padding: 0 0 0 12px;
        }
      }

      .form__label--note {
        margin: 0 0 8px 0;
        span:nth-child(2) {
          padding: 0 12px 0 0;
        }
      }

    }

  	// ---------------------------------------- Form Field | Input/Text

    .form__field--input {
      .form__label {
        margin-bottom: 6px;
        align-self: flex-end;
      }
    }

  	// ---------------------------------------- Form Field | Radio

    .form__field--radio {

      .form__label--heading {
        width: auto;
        margin-right: 20px;
        margin-bottom: 2px;
        align-self: flex-end;
      }

      .form__label--radio {
        margin-top: 0;
      }

      .radio__title {
        align-self: flex-end;
        margin-bottom: 2px;
      }

      .radio {
        &__title {
          margin-top: 0;
        }
      }

    }

    // ---------------------------------------- Form Field | Textarea

    .form__field--textarea {

      .form__label {

        flex-flow: row nowrap;

        span:not(.form__label-pattern) {
          background: var(--theme-colour--yellow);
          position: relative;
          z-index: 1;
          width: auto;
        }

        span:nth-child(2) {
          padding: 0 12px 0 0;
        }

        span:nth-child(3) {
          padding: 0 0 0 12px;
        }

      }

    }

    .form__field--name,
    .form__field--phone,
    .form__field--email {
      .form__label {
        width: 8%;
      }
    }

    // ---------------------------------------- Thank You

    &__thank-you {
      .section__heading {
        font-size: 88px;
      }
    }

	} // min width lg

	@include breakpoint(xl) {

  	.form__field--name,
    .form__field--phone,
    .form__field--email {
      .form__label {
        width: 6%;
      }
    }

    // ---------------------------------------- Thank You

    &__thank-you {
      .section__heading {
        font-size: 108px;
      }
    }

	} // min width xl

	@include breakpoint(xxl) {

  	.form__field--name,
    .form__field--phone,
    .form__field--email {
      .form__label {
        width: 5%;
      }
    }

    // ---------------------------------------- Thank You

    &__thank-you {
      .section__heading {
        font-size: 118px;
      }
    }

	} // min width xxl

} // .forms
