//////////////////////////////////////////////////////////
////  General | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  General | Styles
//////////////////////////////////////////////////////////

html, body {
  background: var(--theme-colour--white);
  color: var(--theme-colour--black);
	height: 100%;
	margin: 0;
}

body {

  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;

  [role="main"] {
    height: 100%;
  }

	a {
		text-decoration: none;
		outline: none;
		&:focus, &:hover {
			text-decoration: none;
		}
	}

	#site-container {
  	flex: 1 0 auto;
	}

	[role='main'] {
    padding-top: var(--theme-header-height );
    &.is-404 {
      padding: 0;
      height: 100%;
      min-height: 100%;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }
	}

	.desktop-only {
		display: none;
	}

	.hidden {
  	display: none !important;
	}

	&.is-active,
	&.push-content--is-active {
  	overflow-y: hidden;
	}

  pre {
    color: var(--theme-colour--white);
    text-align: left;
  }

  [data-gutters-horizontal="true"] {
    margin-bottom: 10px;
  }

	@include breakpoint(sm) {

  	[role='main'] {
      padding-top: var(--theme-header-height--sm );
  	}

	} // min width sm

	@include breakpoint(md) {

		[role='main'] {
      padding-top: var(--theme-header-height--md );
    }

	} // min width md

	@include breakpoint(lg) {

    [role='main'] {
      padding-top: var(--theme-header-height--lg );
  	}

    .mobile-only {
      display: none;
    }

    .desktop-only {
      display: inline-block;
    }

    [data-margin-bottom] {
      margin-bottom: 40px;
    }

	} // min width lg

  @include breakpoint(xl) {

    [role='main'] {
      padding-top: var(--theme-header-height--xl );
    }

  } // min width lg

	@include breakpoint(xxl) {

    [role='main'] {
      padding-top: var(--theme-header-height--xxl );
  	}

	} // min width xxl

} // body
