//////////////////////////////////////////////////////////
////  Header | Variables
//////////////////////////////////////////////////////////

$logo-height: 15px;
$logo-height--sm: 16px;
$logo-height--md: 17px;
$logo-height--lg: 20px;
$logo-height--xl: 22px;
$logo-height--xxl: 24px;

//////////////////////////////////////////////////////////
////  Header | Styles
//////////////////////////////////////////////////////////

.header {

  height: var(--theme-header-height );

  &__brand {
    height: $logo-height;
    a, img, svg {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__main {
    width: 100%;
    height: 100%;
  }

	&--sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
	}

  @include breakpoint(sm) {

    height: var(--theme-header-height--sm );

    &__brand {
      height: $logo-height--sm;
    }

  } // min width sm

  @include breakpoint(md) {

    height: var(--theme-header-height--md );

    &__brand {
      height: $logo-height--md;
    }

  } // min width md

  @include breakpoint(lg) {

    height: var(--theme-header-height--lg );

    &__brand {
      height: $logo-height--lg;
    }

  } // min width lg

  @include breakpoint(xl) {

    height: var(--theme-header-height--xl );

    &__brand {
      height: $logo-height--xl;
    }

  } // min width xl

  @include breakpoint(xxl) {

     height: var(--theme-header-height--xxl );

    &__brand {
      height: $logo-height--xxl;
    }

  } // min width xxl

} // header
