.loading-screen {

  background: var(--theme-colour--yellow);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  &.on-load {
    @include transitions-all(1250, 150);
    opacity: 1;
    z-index: 250;
    &.loaded {
      opacity: 0;
    }
  }

  &.redirect {
    opacity: 0;
    z-index: -10;
    &.fade-out {
      @include transitions-all(450, 45);
      opacity: 1;
      z-index: 250;
    }
  }

}
