.placeholder-content {

	padding: 50px 0;

	.row {

		span {
			background: var(--theme-colour--yellow);
			display: block;
			text-align: center;
			padding: 35px 0;
			width: 100%;
			color: #fff;
			line-height: 0.9;
			font-size: 12px;
		}

		& + .row {
			margin-top: 30px;
		}

		&:first-child {
			margin-top: 0;
		}

	}

}

