//////////////////////////////////////////////////////////
////  Post | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Post | Styles
//////////////////////////////////////////////////////////

.post {

  &__hero {
    text-align: center;
  }

  &__hero,
  &__body {
    padding: 30px 0 0 0;
  }

  &__title {
    font-family: var(--theme-font-family--sorry-sans);
    font-size: 45px;
    line-height: 1.14;
    text-transform: none;
    margin: 0 auto;
    width: 90%;
    & + .post__note,
    & + .taxonomy-list {
      padding-top: 15px;
    }
  }

  &__intro-graphic {
    width: 75%;
    margin: 35px auto 0;
    display: block;
    img, svg {
      width: 100%;
      height: auto;
      display: block;
    }
    & + .post__note,
    & + .taxonomy-list {
      padding-top: 15px;
    }
  }

  &--careers {

    .post__intro-graphic {
      width: 100%;
      height: auto;
      position: relative;
    }

    .section {
      .section__message {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
    	}
  	}

  	.section__heading + .job-postings {
    	margin-top: 50px;
  	}

  	.post__body {
    	margin-bottom: 100px;
  	}

  }

	

	@include breakpoint(md) {

    &__hero,
    &__body {
      padding: 40px 0 0 0;
    }

  	&__title {
      font-size: 60px;
      width: 72.5%;
    }

    &__intro-graphic {
      width: 50%;
      margin: 40px auto 0;
    }

     &--careers {

      $post-intro-graphic-offset: 25px;

      .post__intro-graphic {
        width: calc( 100% + (#{$hr-horizontal-offset}*2) );
        left: -$post-intro-graphic-offset;
        height: auto;
        position: relative;
      }

    }

	} // min width md

	@include breakpoint(lg) {

  	&__hero,
    &__body {
      padding: 45px 0 0 0;
    }

  	&__title {
      font-size: 88px;
    }

	} // min width lg

	@include breakpoint(xl) {

  	&__hero,
    &__body {
      padding: 55px 0 0 0;
    }

  	&__title {
      font-size: 108px;
    }

    &__intro-graphic {
      margin: 50px auto 0;
    }

	} // min width xl

	@include breakpoint(xxl) {

  	&__hero,
    &__body {
      padding: 65px 0 0 0;
    }

  	&__title {
      font-size: 118px;
    }

	} // min width xxl

} // .post
