//////////////////////////////////////////////////////////
////  Typography | Variables
//////////////////////////////////////////////////////////

$heading-size: 24px;
$heading-size--sm: 28px;
$heading-size--md: 32px;

$title: 45px;
$title--sm: 45px;
$title--md: 60px;
$title--lg: 88px;
$title--xl: 108px;
$title--xxl: 118px;

//////////////////////////////////////////////////////////
////  Typography | Styles
//////////////////////////////////////////////////////////

body {
	font-family: var(--theme-serif--akkurat );
	font-size: var(--theme-body-copy );
	color: var(--theme-colour--black);
  font-weight: normal;
	line-height: 1.2;
	font-variant-ligatures: no-common-ligatures;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--theme-font-family--sorry-sans);
	font-size: $heading-size;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	text-transform: none;
  line-height: 1.05;
  margin-bottom: 26px;
}

p, li {
	@include body-copy( 1, normal, 1.3 );
}

.non-bulleted-list {
  line-height: 1.4;
}

.sans-serif {
  font-family: var(--theme-font-family--sorry-sans);
  font-size: 40px;
}

.sorry-sans {
  font-family: var(--theme-serif--akkurat );
  font-weight: normal;
  &--24 {
    font-size: 20px;
    @include breakpoint(md) {
      font-size: 22px;
    }
    @include breakpoint(xxl) {
      font-size: 24px;
    }
  }
}

@import '../components/_heading.scss';
@import '../components/_message.scss';
@import '../components/_title.scss';

@include breakpoint(sm) {

  h1, h2, h3, h4, h5, h6 {
  	font-size: $heading-size--sm;
  }

} // min width sm

@include breakpoint(md) {

  h1, h2, h3, h4, h5, h6 {
  	font-size: $heading-size--md;
  }

} // min width md






