//////////////////////////////////////////////////////////
////  Mixins
//////////////////////////////////////////////////////////

// Clearfix
@mixin clearfix {
	clear: both;
	&:after{
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
  }
}

// Mini Reset
@mixin mini-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.1px;
}

// transforms
@mixin transform3D-and-rotate ( $transformX: 0px, $transformY: 0px, $transformZ: 0px, $degree: 0 ) {
	-webkit-transform: translate3d( $transformX, $transformY, $transformZ ) rotate( $degree );
	-moz-transform: translate3d( $transformX, $transformY, $transformZ ) rotate( $degree );
	-ms-transform: translate3d( $transformX, $transformY, $transformZ ) rotate( $degree );
	-o-transform: translate3d( $transformX, $transformY, $transformZ ) rotate( $degree );
	transform:  translate3d( $transformX, $transformY, $transformZ ) rotate( $degree );
}

@mixin transform3d ( $transformX: 0px, $transformY: 0px, $transformZ: 0px ) {
	-webkit-transform: translate3d( $transformX, $transformY, $transformZ );
	-moz-transform: translate3d( $transformX, $transformY, $transformZ );
	-ms-transform: translate3d( $transformX, $transformY, $transformZ );
	-o-transform: translate3d( $transformX, $transformY, $transformZ );
	transform: translate3d( $transformX, $transformY, $transformZ );
}

@mixin scale ( $transformX: 0, $transformY: 0 ) {
	-webkit-transform: scale( $transformX, $transformY );
	-moz-transform: scale( $transformX, $transformY );
	-ms-transform: scale( $transformX, $transformY );
	-o-transform: scale( $transformX, $transformY );
	transform: scale( $transformX, $transformY );
}

@mixin rotate ( $degree ) {
	-webkit-transform: rotate( #{$degree}deg );
	-moz-transform: rotate( #{$degree}deg );
	-ms-transform: rotate( #{$degree}deg );
	-o-transform: rotate( #{$degree}deg );
	transform: rotate( #{$degree}deg );
}

// Border Radius
@mixin border-radius ( $radius ) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

// Box Shadow
@mixin box-shadow ( $top, $left, $blur, $spread, $color, $inset: false ) {
  -webkit-appearance: none !important;
	@if $inset {
		box-shadow: inset $top $left $blur $spread $color;
	} @else {
		box-shadow: $top $left $blur $spread $color;
	}
}

@mixin box-shadow-reset( $important: false ) {
	@if $important {
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
		-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
	} @else {
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
		-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	}
}

// Animations
@mixin keyframes ( $animation-name ) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation ( $str ) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

// Transitions
@mixin transitions-all ( $timing: 280, $delay: 0 ) {
	-webkit-transition: all #{$timing}ms ease-in-out #{$delay}ms;
	-moz-transition: all #{$timing}ms ease-in-out #{$delay}ms;
	-ms-transition:  all #{$timing}ms ease-in-out #{$delay}ms;
	-o-transition: all #{$timing}ms ease-in-out #{$delay}ms;
	transition: all #{$timing}ms ease-in-out #{$delay}ms;
}

@mixin transitions ( $property: all, $timing: 300, $delay: 0 ) {
	-webkit-transition: $property #{$timing}ms ease-in-out #{$delay}ms;
	-moz-transition: $property #{$timing}ms ease-in-out #{$delay}ms;
	-ms-transition:  $property #{$timing}ms ease-in-out #{$delay}ms;
	-o-transition: $property #{$timing}ms ease-in-out #{$delay}ms;
	transition: $property #{$timing}ms ease-in-out #{$delay}ms;
}

// Placeholder Text
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

// Columns
@mixin columns ( $number, $width, $gap: normal ) {
	-webkit-columns: $number $width;
	-moz-columns: $number $width;
  columns: $number $width;
  -webkit-column-gap: $gap;
  -moz-column-gap: $gap;
  column-gap: $gap;
}

// Highlight

@mixin greysacle( $value ) {
  filter:#{"grayscale(#{$value})"};
}

@mixin brightness( $value ) {
  filter: brightness( $value );
}

@function lighten( $color, $percentage ) {
  @return mix( white, $color, $percentage );
}

@function darken( $color, $percentage ) {
  @return mix( black, $color, $percentage );
}

@mixin video-aspect-ratios( $width, $height ) {
  // Given a 16:9 aspect ratio, 9/16*100 = 56.25
  min-height: 100%;
  height: math.div($height, $width) * 100%;
  height: math.div($height, $width) * 100vw;

  // Given a 16:9 aspect ratio, 16/9*100 = 177.77
  min-width: 100%;
  width: math.div($width, $height) * 100%;
  width: math.div($width, $height) * 100vh;
}

//////////////////////////////////////////////////////////
////  Mixin | Typography | Body Copy
//////////////////////////////////////////////////////////

@mixin body-copy( $font-size-modifier: 1, $line-height: 1.1, $font-weight: normal ) {

  font-size: calc( var(--theme-body-copy) * #{$font-size-modifier} );
  font-weight: $font-weight;
  line-height: $line-height;

  @include breakpoint(sm) {
    font-size: calc( var(--theme-body-copy--sm) * #{$font-size-modifier} );
  } // min width sm

  @include breakpoint(md) {
    font-size: calc( var(--theme-body-copy--md) * #{$font-size-modifier} );
  } // min width md

  @include breakpoint(lg) {
    font-size: calc( var(--theme-body-copy--lg) * #{$font-size-modifier} );
  } // min width lg

  @include breakpoint(xl) {
    font-size: calc( var(--theme-body-copy--xl) * #{$font-size-modifier} );
  } // min width xl

  @include breakpoint(xxl) {
    font-size: calc( var(--theme-body-copy--xxl) * #{$font-size-modifier} );
  } // min width xxl

}

//////////////////////////////////////////////////////////
////  UI/UX | Breakpoint
//////////////////////////////////////////////////////////

@mixin breakpoint( $size ) {

  @if $size == sm {
	  @media (min-width: map-get( $grid-breakpoints, sm )) { @content; }
  }

  @else if $size == md {
    @media (min-width: map-get( $grid-breakpoints, md )) { @content; }
  }

  @else if $size == lg {
    @media (min-width: map-get( $grid-breakpoints, lg )) { @content; }
  }

  @else if $size == xl {
    @media (min-width: map-get( $grid-breakpoints, xl )) { @content; }
  }

  @else if $size == xxl {
    @media (min-width: map-get( $grid-breakpoints, xxl )) { @content; }
  }

  @else {
    @media (min-width: $size) { @content; }
  }

}
