@function hexToRGB( $hex: false ) {
  @return red($hex), green($hex), blue($hex);
}

//////////////////////////////////////////////////////////
////  Layout & Grid | Variables
//////////////////////////////////////////////////////////

$theme-border-size: 2px;
$theme-mobile-wrapper-padding: 24px;
var(--theme-layout--gutter): 10px;
$theme-spacing: 24px;
$theme-border: 4px;
$hr-horizontal-offset: 25px;

//////////////////////////////////////////////////////////
////  Layout & Grid | Grid Gutters
//////////////////////////////////////////////////////////

$theme-grid-gutter-sizes: (
  'base': 12px,
  'sm': 14px,
  'md': 16px,
  'lg': 12px,
  'xl': 14px,
  'xxl': 16px
);

$theme-grid-gutter-size: map-get( $theme-grid-gutter-sizes, 'base' );
$theme-grid-gutter-size--sm: map-get( $theme-grid-gutter-sizes, 'sm' );
$theme-grid-gutter-size--md: map-get( $theme-grid-gutter-sizes, 'md' );
$theme-grid-gutter-size--lg: map-get( $theme-grid-gutter-sizes, 'lg' );
$theme-grid-gutter-size--xl: map-get( $theme-grid-gutter-sizes, 'xl' );
$theme-grid-gutter-size--xxl: map-get( $theme-grid-gutter-sizes, 'xxl' );

//////////////////////////////////////////////////////////
////  Layout & Grid | Hero
//////////////////////////////////////////////////////////

$theme-hero-height-sizes:(
  'base': auto,
  'sm': auto,
  'md': auto,
  'lg': 560px,
  'xl': 580px,
  'xxl': 600px
);

$hero-height: map-get( $theme-hero-height-sizes, 'base' );
$hero-height--sm: map-get( $theme-hero-height-sizes, 'sm' );
$hero-height--md: map-get( $theme-hero-height-sizes, 'md' );
$hero-height--lg: map-get( $theme-hero-height-sizes, 'lg' );
$hero-height--xl: map-get( $theme-hero-height-sizes, 'xl' );
$hero-height--xxl: map-get( $theme-hero-height-sizes, 'xxl' );

//////////////////////////////////////////////////////////
////  Layout & Grid | Section Padding
//////////////////////////////////////////////////////////

$theme-section-padding-sizes:(
  'base': 75px,
  'sm': 85px,
  'md': 95px,
  'lg': 100px,
  'xl': 120px,
  'xxl': 140px
);

$section-padding: map-get( $theme-section-padding-sizes, 'base' );
$section-padding--sm: map-get( $theme-section-padding-sizes, 'sm' );
$section-padding--md: map-get( $theme-section-padding-sizes, 'md' );
$section-padding--lg: map-get( $theme-section-padding-sizes, 'lg' );
$section-padding--xl: map-get( $theme-section-padding-sizes, 'xl' );
$section-padding--xxl: map-get( $theme-section-padding-sizes, 'xxl' );













// Nü Styles

// ---------------------------------------- Announcements
$theme-announcement-heights: (
  'base': 120px,
  'sm': 120px,
  'md': 140px,
  'lg': 140px,
  'xl': 160px,
  'xxl': 180px
);

// ---------------------------------------- Buttons
$theme-button-heights: (
  'base': 38px,
  'sm': 38px,
  'md': 38px,
  'lg': 38px,
  'xl': 38px,
  'xxl': 38px
);

// ---------------------------------------- Colours
$theme-colours: (
  'arlo-green': #83BF7D,
  'beige' : #E0DED6,
  'black' : #111111,
  'blue' : #0038F5,
  'green': #81F25C,
  'grey' : #E0E0E0,
  'red' : #DC4117,
  'white' : #ffffff,
  'yellow' : #ffc700,
);

// ---------------------------------------- Header
$theme-header-heights: (
  'base': 65px,
  'sm': 75px,
  'md': 85px,
  'lg': 65px,
  'xl': 75px,
  'xxl': 85px
);

// ---------------------------------------- Typography | Body Copy
$theme-body-copy-sizes: (
  'base': 14px,
  'sm': 14px,
  'md': 15px,
  'lg': 14px,
  'xl': 15px,
  'xxl': 15px
);

// ---------------------------------------- Heading | Font Size
$theme-heading-font-sizes: (
  'base': 38px,
  'sm': 38px,
  'md': 38px,
  'lg': 60px,
  'xl': 65px,
  'xxl': 70px
);

// ---------------------------------------- Title | Font Size
$theme-title-font-sizes: (
  'base': 45px,
  'sm': 45px,
  'md': 60px,
  'lg': 88px,
  'xl': 108px,
  'xxl': 118px
);

// ---------------------------------------- Bootstrap | Gutter
$grid-gutter-width: 24px;

// ---------------------------------------- Bootstrap | Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// ---------------------------------------- Bootstrap | Container Sizes
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1160px,
  xxl: 1360px
);

//////////////////////////////////////////////////////////
////  CSS | Variables
//////////////////////////////////////////////////////////

:root {

  // ---------------------------------------- Announcements
  --theme-announcement-height: #{ map-get( $theme-announcement-heights, 'base' ) };
  --theme-announcement-height--sm: #{ map-get( $theme-announcement-heights, 'sm' ) };
  --theme-announcement-height--md: #{ map-get( $theme-announcement-heights, 'md' ) };
  --theme-announcement-height--lg: #{ map-get( $theme-announcement-heights, 'lg' ) };
  --theme-announcement-height--xl: #{ map-get( $theme-announcement-heights, 'xl' ) };
  --theme-announcement-height--xxl: #{ map-get( $theme-announcement-heights, 'xxl' ) };

  // ---------------------------------------- Buttons
  --theme-button-height: #{ map-get( $theme-button-heights, 'base' ) };
  --theme-button-height--sm: #{ map-get( $theme-button-heights, 'sm' ) };
  --theme-button-height--md: #{ map-get( $theme-button-heights, 'md' ) };
  --theme-button-height--lg: #{ map-get( $theme-button-heights, 'lg' ) };
  --theme-button-height--xl: #{ map-get( $theme-button-heights, 'xl' ) };
  --theme-button-height--xxl: #{ map-get( $theme-button-heights, 'xxl' ) };

  // ---------------------------------------- Colours
  --theme-black: #{ map-get( $theme-colours, 'black' ) };
  --theme-white: #{ map-get( $theme-colours, 'white' ) };
  --theme-blue: #{ map-get( $theme-colours, 'blue' ) };
  --theme-green: #{ map-get( $theme-colours, 'green' ) };
  --theme-grey: #{ map-get( $theme-colours, 'grey' ) };
  --theme-red: #{ map-get( $theme-colours, 'red' ) };
	--theme-yellow: #{ map-get( $theme-colours, 'yellow' ) };
  --theme-arlo-green: #{ map-get( $theme-colours, 'arlo-green' ) };

  --theme-colour-arlo-green: #{ hexToRGB( map-get( $theme-colours, 'arlo-green') ) };
  --theme-colour-beige: #{ hexToRGB( map-get( $theme-colours, 'beige') ) };
  --theme-colour-black: #{ hexToRGB( map-get( $theme-colours, 'black' ) ) };
  --theme-colour-blue: #{ hexToRGB( map-get( $theme-colours, 'blue') ) };
  --theme-colour-green: #{ hexToRGB( map-get( $theme-colours, 'green') ) };
  --theme-colour-grey: #{ hexToRGB( map-get( $theme-colours, 'grey') ) };
  --theme-colour-red: #{ hexToRGB( map-get( $theme-colours, 'red') ) };
  --theme-colour-white: #{ hexToRGB( map-get( $theme-colours, 'white') ) };
  --theme-colour-yellow: #{ hexToRGB( map-get( $theme-colours, 'yellow') ) };

  // ---------------------------------------- Container
  --theme-container--sm: #{ map-get( $container-max-widths, 'sm' ) };
  --theme-container--md: #{ map-get( $container-max-widths, 'md' ) };
  --theme-container--lg: #{ map-get( $container-max-widths, 'lg' ) };
  --theme-container--xl: #{ map-get( $container-max-widths, 'xl' ) };
  --theme-container--xxl: #{ map-get( $container-max-widths, 'xxl' ) };

  // ---------------------------------------- Header
  --theme-header-height: #{ map-get( $theme-header-heights, 'base' ) };
  --theme-header-height--sm: #{ map-get( $theme-header-heights, 'sm' ) };
  --theme-header-height--md: #{ map-get( $theme-header-heights, 'md' ) };
  --theme-header-height--lg: #{ map-get( $theme-header-heights, 'lg' ) };
  --theme-header-height--xl: #{ map-get( $theme-header-heights, 'xl' ) };
  --theme-header-height--xxl: #{ map-get( $theme-header-heights, 'xxl' ) };

  // ---------------------------------------- Typography | Font Families
  --theme-sans-serif: sans-serif;
  --theme-serif: sans-serif;
  --theme-display: serif;
  --theme-sans-serif--sorry: "Sorry Sans", sans-serif;
  --theme-serif--not-sorry: "Not Sorry Serif", serif;
  --theme-serif--akkurat: "Akkurat Mono LL", serif;

  // ---------------------------------------- Typography | Body Copy
  --theme-body-copy: #{ map-get( $theme-body-copy-sizes, 'base' ) };
  --theme-body-copy--sm: #{ map-get( $theme-body-copy-sizes, 'sm' ) };
  --theme-body-copy--md: #{ map-get( $theme-body-copy-sizes, 'md' ) };
  --theme-body-copy--lg: #{ map-get( $theme-body-copy-sizes, 'lg' ) };
  --theme-body-copy--xl: #{ map-get( $theme-body-copy-sizes, 'xl' ) };
  --theme-body-copy--xxl: #{ map-get( $theme-body-copy-sizes, 'xxl' ) };

  // ---------------------------------------- Title | Font Size
  --theme-title-font-size: #{ map-get( $theme-title-font-sizes, 'base' ) };
  --theme-title-font-size--sm: #{ map-get( $theme-title-font-sizes, 'sm' ) };
  --theme-title-font-size--md: #{ map-get( $theme-title-font-sizes, 'md' ) };
  --theme-title-font-size--lg: #{ map-get( $theme-title-font-sizes, 'lg' ) };
  --theme-title-font-size--xl: #{ map-get( $theme-title-font-sizes, 'xl' ) };
  --theme-title-font-size--xxl: #{ map-get( $theme-title-font-sizes, 'xxl' ) };

  // ---------------------------------------- Heading | Font Size
  --theme-heading-font-size: #{ map-get( $theme-heading-font-sizes, 'base' ) };
  --theme-heading-font-size--sm: #{ map-get( $theme-heading-font-sizes, 'sm' ) };
  --theme-heading-font-size--md: #{ map-get( $theme-heading-font-sizes, 'md' ) };
  --theme-heading-font-size--lg: #{ map-get( $theme-heading-font-sizes, 'lg' ) };
  --theme-heading-font-size--xl: #{ map-get( $theme-heading-font-sizes, 'xl' ) };
  --theme-heading-font-size--xxl: #{ map-get( $theme-heading-font-sizes, 'xxl' ) };

}
