[data-aos=fade-right] {
  transform: translate3d( calc(-1 * var(--theme-aos--travel)), 0, 0 );
}

[data-aos=fade-left] {
  transform: translate3d( calc(1 * var(--theme-aos--travel)), 0, 0 );
}

[data-aos=fade-up] {
  transform: translate3d( 0, calc(1 * var(--theme-aos--travel)), 0 );
}

[data-aos=fade-down] {
  transform: translate3d( 0, calc(-1 * var(--theme-aos--travel)), 0 );
}

[data-aos] {
  .lazyload-item {
    opacity: 1;
  }
}
