@use '../utils/mixins/block-quote' as *;

.block-quote {

  &--primary {
    @include block-quote-style('primary');
  }

  &--secondary {
    @include block-quote-style('secondary');
  }

  &--tertiary {
    @include block-quote-style('tertiary');
  }

  &--xl {
    @include block-quote-size('xl');
  }

  &--lg {
    @include block-quote-size('lg');
  }

  &--md {
    @include block-quote-size('md');
  }

  &--sm {
    @include block-quote-size('sm');
  }

}
