@use '../utils/mixins/body-copy' as *;

.body-copy {

  &--primary {
    @include body-copy-style('primary');
  }

  &--secondary {
    @include body-copy-style('secondary');
  }

  &--1,
  &--lg {
    @include body-copy-size('lg');
  }

  &--2,
  &--md {
    @include body-copy-size('md');
  }

  &--3,
  &--sm {
    @include body-copy-size('sm');
  }

  &--4,
  &--xs {
    @include body-copy-size('xs');
  }

  &--banner {
    @include body-copy-size('banner');
  }

//   &--blockquote {
//     @include body-copy(blockquote);
//   }
//
//   &--credits {
//     @include body-copy(credits);
//   }
//
//   // ---------------------------------------- Sizes
//   @each $size in $theme-type-sizes {
//     &--#{$size} {
//       @include body-copy-size( $size );
//     }
//   }

}
