@use 'sass:map';
@use '../utils/variables' as *;
@use '../utils/mixins/breakpoint' as *;

.burger {

  --theme-burger--45-offset: calc( (var(--theme-burger--height) - var(--theme-burger--stroke-width)) * 0.5 );

  @each $name, $value in map.get( $theme-layout-settings, 'breakpoints' ) {
    @if $name == 'base' {
      height: var(--theme-header-height);
    } @else {
      @include breakpoint(#{$name}) {
        height: var(--theme-header-height--#{$name});
      }
    }
  }

  position: fixed;
  z-index: 200;
  right: 20px;
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;

  &__icon {

    transition: opacity 0.15s, filter 0.15s;
    background: transparent;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;

    &:hover, &:focus {
      outline: none;
      border: none;
    }

  }

  &__icon-box {
    width: var(--theme-burger--width);
    height: var(--theme-burger--height);
    display: block;
    position: relative;
  }

  &__icon-stroke {

    transition: transform var(--theme-transition--duration);
    width: var(--theme-burger--width);
    height: var(--theme-burger--stroke-width);
    background: var(--theme-colour--black);
    border-radius: 0;
    display: block;
    position: absolute;

    &.top {
      top: 0;
    }

    &.middle {
      display: none;
      top: 50%;
      margin-top: -2px;
    }

    &.bottom {
      bottom: 0;
    }

  }

  .push-menu--active & {
    .burger {
      &__icon-stroke {
        background: var(--theme-colour--white);
        &.top {
          transform: translate3d( 0, var(--theme-burger--45-offset), 0 ) rotate(-45deg);
        }
        &.bottom {
          transform: translate3d( 0, calc(-1 * var(--theme-burger--45-offset)), 0 ) rotate(45deg);
        }
      }
    }
  }

}
