@use 'sass:map';
@use '../utils/variables' as *;
@use '../utils/mixins/button' as *;
@use '../utils/mixins/ui' as *;

.button {

  @extend %ui-base;
  @extend %ui-transition;

  &--primary,
  &--secondary,
  &--tertiary  {
    @extend .button;
  }

  &--primary {
    @include button-style("primary");
  }

  &--secondary {
    @include button-style("secondary");
  }

  &--tertiary {
    @include button-style("tertiary");
  }

  &__title,
  &__icon {
    display: block;
  }

  &.no-link {
    pointer-events: none;
    cursor: no-drop;
    opacity: 0;
  }

  &[disabled],
  &.disabled {
    @extend %ui-disabled;
  }

  &--collapse-trigger {
    // @include button-LEAGCY('collapse-trigger');
  }

  [data-colour-theme="yellow"] & {

    &--primary.button--black {
      color: map.get( $theme-colours, 'yellow' );
      &:hover {
        background: map.get( $theme-colours, 'black' );
        color: map.get( $theme-colours, 'yellow' );
        opacity: var(--theme-transition--opacity);
      }
    }

  }

}
