@use "../utils/mixins/caption" as *;

.caption {

  &--primary {
    @extend .caption;
    margin-top: 15px;
  }

  &--primary {
    @include caption-style("primary");
  }

  &--lg {
    @include caption-size("lg");
  }

  &--md {
    @include caption-size("md");
  }

  &--3,
  &--sm {
    @include caption-size("sm");
  }

  &--4,
  &--xs {
    @include caption-size("xs");
  }

//   &--primary {
//     @include caption(1);
//     @extend .caption;
//   }
//
//   .full-width & {
//     padding-left: var(--bs-container-fluid-padding);
//     padding-right: var(--bs-container-fluid-padding);
//   }
//
//   .post-type--post & {
//     width: 100%;
//     margin: 0;
//     padding: 0;
//     font-size: 12px;
//   }

}
