@use '../utils/mixins/breakpoint' as *;

input[type="checkbox"]:checked + .checkbox {
  .checkbox__icon {
    span {
      &.default {
        opacity: 0;
      }
      &.checked {
        opacity: 1;
      }
    }
  }
}

.checkbox {

  $checkbox-size: 14px;
  $checkbox-size--sm: 16px;
  $checkbox-size--md: 16px;
  $checkbox-size--lg: 16px;
  $checkbox-size--xl: 16px;
  $checkbox-size--xxl: 16px;

  display: inline-block;
  vertical-align: middle;

  &__icon,
  &__icon span,
  &__label {
    transition: opacity var(--theme-transition--duration);
    display: inline-block;
    width: auto;
  }

  &__icon,
  &__label {
    vertical-align: middle;
  }

  &__icon {
    height: $checkbox-size;
    width: $checkbox-size;
    position: relative;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    span {
      opacity: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      &.default {
        opacity: 1;
      }
      &.checked {
        opacity: 0;
      }
    }
    & + .checkbox__label {
      margin-left: 14px;
    }
  }

  &__label {
    font-size: inherit;
  }

  @include breakpoint(md) {

    &__icon {
      & + .checkbox__label {
        margin-left: 18px;
      }
    }

  }

}
