@use '../utils/variables' as *;
@use '../utils/functions/colour-theme' as *;
@use '../utils/mixins/colour-theme' as *;

@each $colour-name, $colour-value in $theme-colours {

  [data-colour-theme='#{$colour-name}'] {

    $background: var(--theme-colour--#{$colour-name});
    $color: colour-theme-offset($colour-name);

    @if $colour-name == 'red' {
      $background: var(--theme-colour--black);
      $color: var(--theme-colour--red);
    }

    background: $background;
    color: $color;

    .burger {
      &__icon-stroke {
        background: $color;
      }
    }

    .header {
      svg {
        fill: $color;
      }
    }

    .rte {
      a {
        color: inherit;
        border-bottom-color: inherit;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        display: inline;
        &:hover, &:active {
          color: $color;
          border-bottom-color: transparent;
        }
      }
    }

    ::-moz-selection {
      @include highlight-colour-for( $colour-name );
	  }

	  ::selection {
  	  @include highlight-colour-for( $colour-name );
    }

  }

}
