@use '../utils/mixins/breakpoint' as *;

@debug ".contributors body copy needs a small version, 90% of primary";

.contributors {

  padding: 0 0 75px;
  text-align: center;
  text-transform: uppercase;

  &__heading {
    font-family: var(--theme-serif--akkurat );
    margin: 0 0 28px 0;
    font-weight: 400;
  }

  &__main,
  &__special-thanks {
    p, li {
      font-size: inherit;
    }
  }

  &__main + .contributors__special-thanks {
    margin-top: 20px;
  }

  &__list,
  &__item {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list {
    display: block;
    margin-bottom: -12px;
  }

  &__item {
    display: inline-block;
    width: auto;
    margin: 0 12px 2px;
    line-height: 1;
    &--special {
      width: 100%;
      margin: 20px 0 0 0;
    }
  }

  @include breakpoint(md) {
    padding: 0 0 85px 0;
  }

  @include breakpoint(lg) {

    padding: 0 0 95px 0;

    &__item {
      flex: 1 0 50%;
      &--special {}
    }

  }

  @include breakpoint(xl) {
    padding: 0 0 100px 0;
  }

  @include breakpoint(xxl) {

    padding: 0 0 110px 0;

    &__heading {
      margin: 0 0 32px 0;
    }

    &__item {
      flex: 1 0 33.3333%;
    }

  }

}
