@use '../utils/variables' as *;
@use '../utils/mixins/breakpoint' as *;

@each $colour-name, $colour-value in $theme-colours {

  $colour: var(--theme-colour--#{$colour-name});
  $colour-offset: var(--theme-colour--white);

  @if 'black' == $colour-name or 'blue' == $colour-name {
    $colour: var(--theme-colour--white);
    $colour-offset: var(--theme-colour--black);
  }

  [data-colour-theme="#{$colour-name}"] {
    .cta {
      a, button {
        border-color: $colour;
      }
      [data-appearance="primary"] {
        color: $colour;
      }
      [data-appearance="secondary"] {
        background: $colour;
        color: $colour-offset;
      }
    }
  }

}

.cta {

  display: flex;
  width: 100%;
  margin: 20px 0 0 0;
  justify-content: flex-start;

  &[data-justify="left"] {
    justify-content: flex-start;
  }

  &[data-justify="center"] {
    justify-content: center;
  }

  &[data-justify="right"] {
    justify-content: flex-end;
  }

}
