@use '../utils/variables' as *;
@use '../utils/mixins/breakpoint' as *;

.days-left {

  $circle: 260px;
  $circle--sm: 320px;
  $circle--md: 380px;
  $circle--lg: 440px;
  $circle--xl: 500px;
  $circle--xxl: 560px;

  // OLD #650716
  $circle-red-shadow: #650716;
  $circle-red-base: #ec4136;

  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, sans-serif;
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  button {
    color: var(--theme-colour--white);
  }

  &__background {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__button,
  &__heading {
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 18px;
  }

  &__button {
    margin-top: 12px;
    &:hover {
      opacity: 0.66;
    }
  }

  &__calculator {
    display: block;
  }

  &__circle {
    border-radius: 50%;
    display: block;
		position: absolute;
		top: 50%;
		left: 50%;
  }

  &__circle--center {
		width: $circle;
		height: $circle;
		margin-left: -1 * ( 0.5 * $circle );
		margin-top: -1 * ( 0.5 * $circle );
		background-image: radial-gradient(#22376f 20%, #0b093d 80%);
		z-index: 200;
  }

  &__circle--ring {

    background: $circle-red-base;
    $offset: $circle * 0.6;
    $shadow: $circle * 2;

    @for $i from 1 through 9 {

      $zindex: 100;

      @if $i > 1 {
        $zindex: 100 - ( 5 * ( $i - 1 ) );
      }

      $size: $circle + ($offset * $i);

      &:nth-child( #{$i} ) {
        box-shadow: inset 0 0 $shadow 20px rgba( $circle-red-shadow, 1 );
        width: $size;
  			height: $size;
  			margin-left: -1 * ( $size * 0.5 );
  			margin-top: -1 * ( $size * 0.5 );
  			z-index: $zindex;
      }

    }

  }

  &__divider {
    display: inline-block;
    vertical-align: middle;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    margin: 0 8px;
  }

  &__fields {
    font-size: 42px;
    font-weight: 700;
    display: flex;
    color: #fff;
    input {
      -moz-appearance: textfield;
      -webkit-appearance: none;
      margin: 0;
      background: transparent;
      outline: none;
      border: none;
      font-size: inherit;
      font-weight: inherit;
      text-align: center;
      color: inherit;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &[data-date="day"] {
        width: 62px;
      }
      &[data-date="month"] {
        width: 76px;
      }
      &[data-date="year"] {
        width: 116px;
      }
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fff;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #fff;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: #fff;
    }
  }

  &__heading {
    max-width: $circle - 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }

  &__heading--result {
    font-size: 25px;
  }

	&__main {
  	position: relative;
  	z-index: 10;
  	color: #fff;
	}

	&__result {
  	display: none;
  	.days-left__heading {
    	text-transform: none;
  	}
	}

  @include breakpoint(sm) {

    &__button,
    &__heading {}

    &__circle {
			width: $circle--sm;
			height: $circle--sm;
			margin-left: -1 * ( 0.5 * $circle--sm );
			margin-top: -1 * ( 0.5 * $circle--sm );
		}

		&__circle--ring {

      $offset: $circle--sm * 0.6;
      $shadow: $circle--sm * 2;

      @for $i from 1 through 9 {

        $zindex: 100;

        @if $i > 1 {
          $zindex: 100 - ( 5 * ( $i - 1 ) );
        }
        $size: $circle--sm + ($offset * $i);

        &:nth-child( #{$i} ) {
          box-shadow: inset 0 0 $shadow 40px rgba( $circle-red-shadow, 1 );
          width: $size;
    			height: $size;
    			margin-left: -1 * ( $size * 0.5 );
    			margin-top: -1 * ( $size * 0.5 );
    			z-index: $zindex;
        }

      }

    }

		&__divider {}

		&__fields {
      font-size: 65px;
      input {
        &[data-date="day"] {
          width: 94px;
        }
        &[data-date="month"] {
          width: 116px;
        }
        &[data-date="year"] {
          width: 177px;
        }
      }
    }

		&__heading {
      max-width: $circle--sm - 60px;
    }

    &__heading--result {
      font-size: 26px;
    }

  } // min width sm

	@include breakpoint(md) {

    &__button,
    &__heading {
      font-size: 20px;
    }

  	&__circle {
			width: $circle--md;
			height: $circle--md;
			margin-left: -1 * ( 0.5 * $circle--md );
			margin-top: -1 * ( 0.5 * $circle--md );
		}

		&__circle--ring {

      $offset: $circle--md * 0.6;
      $shadow: $circle--md * 2;

      @for $i from 1 through 9 {

        $zindex: 100;

        @if $i > 1 {
          $zindex: 100 - ( 5 * ( $i - 1 ) );
        }
        $size: $circle--md + ($offset * $i);

        &:nth-child( #{$i} ) {
          box-shadow: inset 0 0 $shadow 50px rgba( $circle-red-shadow, 1 );
          width: $size;
    			height: $size;
    			margin-left: -1 * ( $size * 0.5 );
    			margin-top: -1 * ( $size * 0.5 );
    			z-index: $zindex;
        }

      }

    }

		&__divider {}

		&__fields {
      font-size: 80px;
      input {
        &[data-date="day"] {
          width: 116px;
        }
        &[data-date="month"] {
          width: 144px;
        }
        &[data-date="year"] {
          width: 218px;
        }
      }
    }

		&__heading {
      max-width: $circle--md - 60px;
    }

    &__heading--result {
      font-size: 28px;
    }

	} // min width md

	@include breakpoint(lg) {

  	&__circle {
			width: $circle--lg;
			height: $circle--lg;
			margin-left: -1 * ( 0.5 * $circle--lg );
			margin-top: -1 * ( 0.5 * $circle--lg );
		}

		&__circle--ring {

      $offset: $circle--lg * 0.6;
      $shadow: $circle--lg * 2;

      @for $i from 1 through 9 {

        $zindex: 100;

        @if $i > 1 {
          $zindex: 100 - ( 5 * ( $i - 1 ) );
        }
        $size: $circle--lg + ($offset * $i);

        &:nth-child( #{$i} ) {
          box-shadow: inset 0 0 $shadow 60px rgba( $circle-red-shadow, 1 );
          width: $size;
    			height: $size;
    			margin-left: -1 * ( $size * 0.5 );
    			margin-top: -1 * ( $size * 0.5 );
    			z-index: $zindex;
        }

      }

    }

		&__divider {}

		&__fields {
      font-size: 110px;
      input {
        &[data-date="day"] {
          width: 161px;
        }
        &[data-date="month"] {
          width: 200px;
        }
        &[data-date="year"] {
          width: 304px;
        }
      }
    }

		&__heading {
      max-width: $circle--lg - 60px;
    }

    &__heading--result {
      font-size: 30px;
    }

	} // min width lg

	@include breakpoint(xl) {

  	&__button,
    &__heading {
      font-size: 22px;
    }

  	&__circle {
			width: $circle--xl;
			height: $circle--xl;
			margin-left: -1 * ( 0.5 * $circle--xl );
			margin-top: -1 * ( 0.5 * $circle--xl );
		}

		&__circle--ring {

      $offset: $circle--xl * 0.6;
      $shadow: $circle--xl * 2;

      @for $i from 1 through 9 {

        $zindex: 100;

        @if $i > 1 {
          $zindex: 100 - ( 5 * ( $i - 1 ) );
        }
        $size: $circle--xl + ($offset * $i);

        &:nth-child( #{$i} ) {
          box-shadow: inset 0 0 $shadow 70px rgba( $circle-red-shadow, 1 );
          width: $size;
    			height: $size;
    			margin-left: -1 * ( $size * 0.5 );
    			margin-top: -1 * ( $size * 0.5 );
    			z-index: $zindex;
        }

      }

    }

		&__divider {}

		&__fields {
      font-size: 140px;
      input {
        &[data-date="day"] {
          width: 206px;
        }
        &[data-date="month"] {
          width: 255px;
        }
        &[data-date="year"] {
          width: 380px;
        }
      }
    }

		&__heading {
      max-width: $circle--xl - 60px;
    }

    &__heading--result {
      font-size: 30px;
    }

	} // min width xl

	@include breakpoint(xxl) {

  	&__button,
    &__heading {
      font-size: 24px;
    }

  	&__circle {
			width: $circle--xxl;
			height: $circle--xxl;
			margin-left: -1 * ( 0.5 * $circle--xxl );
			margin-top: -1 * ( 0.5 * $circle--xxl );
		}

		&__circle--ring {

      $offset: $circle--xxl * 0.6;
      $shadow: $circle--xxl * 2;

      @for $i from 1 through 9 {

        $zindex: 100;

        @if $i > 1 {
          $zindex: 100 - ( 5 * ( $i - 1 ) );
        }

        $size: $circle--xxl + ($offset * $i);

        &:nth-child( #{$i} ) {
          box-shadow: inset 0 0 $shadow 80px rgba( $circle-red-shadow, 1 );
          width: $size;
    			height: $size;
    			margin-left: -1 * ( $size * 0.5 );
    			margin-top: -1 * ( $size * 0.5 );
    			z-index: $zindex;
        }

      }

    }

		&__divider {}

		&__fields {
      font-size: 165px;
      input {
        &[data-date="day"] {
          width: 242px;
        }
        &[data-date="month"] {
          width: 300px;
        }
        &[data-date="year"] {
          width: 444px;
        }
      }
    }

		&__heading {
      max-width: $circle--xxl - 60px;
    }

    &__heading--result {
      font-size: 30px;
    }

	} // min width xxl

} // .days-left
