@use '../utils/mixins/breakpoint' as *;

.flex {

  display: flex;
  flex-flow: wrap;

  &__column {
    width: 100%;
  }

  img, video {
    display: block;
    width: 100%;
    min-width: 100%;
    height: auto;
  }

  @include breakpoint(md) {

    &--02 {
      .flex__column {
        width: 50%;
      }
    }

    &--03 {
      .flex__column {
        width: 33.3333%;
      }
    }

  }

}
