@use '../utils/mixins/breakpoint' as *;

.flexible-content {

  .heading {
    font-size: 24px;
    margin: 0;
  }

  &__block {
    & + .flexible-content__block {
      margin-top: 34px;
    }
  }

  &--page {
    .section {
      & + .section {
        margin-top: 50px;
      }
    }
  }

  @include breakpoint(sm) {

    .heading {
      font-size: 28px;
    }

  }

  @include breakpoint(md) {

    .heading {
      font-size: 32px;
    }

  }

  @include breakpoint(lg) {

    &--page {
      padding-bottom: 60px;
      .section {
        & + .section {
          margin-top: 75px;
        }
      }
    }

  }

}
