@use '../utils/mixins/breakpoint' as *;

.glide {

  $fade-in: false;

  position: relative;
  min-width: 0; // fix for when glide is child of display: grid
  max-width: 100%;

  &__media {
    position: relative;
    a {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__slide,
  &__slides {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &[data-glide-style="showcase"] {

    @if $fade-in {

      .glide__slides {
        transition: none !important;
      }

      .glide__slides {
        .glide__slide {
          opacity: 0;
          transition: all 700ms ease-in-out;
          &--active {
            opacity: 1;
          }
        }
      }

    }

  }

  @include breakpoint(lg) {

    &[data-glide-style="work"] {
      .glide__slides {
        justify-content: space-evenly;
      }
      .glide__slide {
        opacity: 1;
        width: auto;
        flex: 1;
      }
    }

  }

}
