@use '../utils/mixins/breakpoint' as *;

.grid {

  display: grid;
  width: 100%;
  grid-template-columns: 1fr;

  &__item {
    img, svg, video {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
    }
  }

  @for $i from 1 through 100 {
    &[data-grid-gutter="#{$i}"] {
      gap: $i * 1px;
    }
  }

  @include breakpoint(md) {

    &--2,
    &--two-column {
      grid-template-columns: repeat(2, 1fr);
    }

    &--3,
    &--three-column {
      grid-template-columns: repeat(3, 1fr);
    }

    &--4,
    &--four-column {
      grid-template-columns: repeat(4, 1fr);
    }

  }

}
