@use "../utils/mixins/heading" as *;

.heading {

  &--primary {
    @include heading-style("primary");
  }

  &--secondary {
    @include heading-style("secondary");
  }

  &--tertiary {
    @include heading-style("tertiary");
  }

  &--title {
    @include heading-size("title");
    text-align: center;
  }

  &--post-title {
    @include heading-size("post-title");
  }

  &--1,
  &--lg {
    @include heading-size("lg");
  }

  &--2,
  &--md {
    @include heading-size("md");
  }

  &--3,
  &--sm {
    @include heading-size("sm");
  }

  &--4,
  &--5,
  &--6,
  &--xs {
    @include heading-size("xs");
  }

}
