@use '../utils/mixins/breakpoint' as *;
@use '../utils/mixins/font' as *;

.hero {

  text-align: center;
  padding: 30px 0 50px;

  &__categories {
    font-size: 21px;
    & + .hero__heading {
      margin-top: 10px;
    }
  }

  &__heading {
    & + .hero__excerpt {
      margin-top: 20px;
    }
  }

  .longevity-club & {
    &__categories {
      @include font-bc-eric-machat-script(400);
      line-height: 1;
    }
  }

  @include breakpoint(md) {
    padding: 40px 0 65px;

  }

  @include breakpoint(lg) {
    padding: 45px 0 70px;
  }

  @include breakpoint(xl) {
    padding: 55px 0 85px;
    &__categories {
      font-size: 23px;
    }
  }

  @include breakpoint(xxl) {
    &__categories {
      font-size: 25px;
    }
  }

}
