.iframe {

  position: relative;
  width: 100%;
  display: block;

  iframe {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

}

//////////////////////////////////////////////////////////
////  LEGACY
//////////////////////////////////////////////////////////

// $block: 'testimonials';
//
// .#{$block} {
//
//   position: relative;
//
//   iframe {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }
//
//   &[data-position="background"] {
//     &[data-aspect-ratio="137-54"] {
//       @include video-aspect-ratios( 137, 54 );
//     }
//     &[data-aspect-ratio="21-9"] {
//       @include video-aspect-ratios( 21, 9 );
//     }
//     &[data-aspect-ratio="16-9"] {
//       @include video-aspect-ratios( 16, 9 );
//     }
//     &[data-aspect-ratio="4-3"] {
//       @include video-aspect-ratios( 4, 3 );
//     }
//     &[data-aspect-ratio="1-1"] {
//       @include video-aspect-ratios( 1, 1 );
//     }
//   }
//
//   &[data-position="inline"] {
//
//     &[data-aspect-ratio="137-54"] {
//       padding-top: 39.41%;
//     }
//     &[data-aspect-ratio="21-9"] {
//       padding-top: 42.86%;
//     }
//     &[data-aspect-ratio="16-9"] {
//       padding-top: 56.25%;
//     }
//     &[data-aspect-ratio="4-3"] {
//       padding-top: 75%;
//     }
//     &[data-aspect-ratio="1-1"] {
//       padding-top: 100%;
//     }
//   }
//
// }
