@use '../utils/mixins/breakpoint' as *;

.image {

  width: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &--mobile {
    &-adapt {
      height: auto;
      img {
        height: auto;
        object-fit: initial;
      }
    }
    @for $i from 3 through 7 {
      $value: $i * 100px;
      &-#{$value} {
        height: $value;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  @include breakpoint(lg) {

    &--desktop {
      &-adapt {
        height: auto;
        img {
          height: auto;
          object-fit: initial;
        }
      }
      @for $i from 5 through 9 {
        $value: $i * 100px;
        &-#{$value} {
          height: $value;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

  }

}
