.job-postings {

  &__job-location,
  &__job-title {
    display: block;
    margin-right: auto;
  }

  &__body {
    &-padding {
      padding: 0 0 45px 0;
    }
  }

  &__content {
    & + .job-postings__content {
      margin-top: 28px;
    }
  }

  &__item {
    & + .job-postings__item {
      border-top-style: dashed;
      border-top-color: rgba(var(--theme-colour-black), 0.33);
      border-top-width: 2px;
    }
    &.show {
      .button__icon {
        transform: rotate(0);
      }
    }
  }

  &__job {
    &-location {
      margin-top: 8px;
    }
  }

  &__main {
    border-top-style: dashed;
    border-top-color: rgba(var(--theme-colour-black), 0.33);
    border-top-width: 2px;
    border-bottom-style: dashed;
    border-bottom-color: rgba(var(--theme-colour-black), 0.33);
    border-bottom-width: 2px;
    margin: 30px 0;
  }

  &__message {
    & + .job-postings__message {
      margin-top: 28px;
    }
  }

  &__trigger-button {
    gap: var(--theme-layout--gutter);
    padding: 30px 0;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    display: flex;
    text-align: left;
    .button__icon {
      transition: transform var(--theme-transition--duration);
      transform: rotate(45deg);
      height: 18px;
      width: 18px;
      svg {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .button__title {
      flex: 1;
    }
  }

}
