.lazyload {

  $count: 25;

  &-item {

    display: block;
    transition-property: opacity;
    opacity: 0;

    &.lazyloaded {
      opacity: 1;
    }

    @while $count < 3500 {
      &[data-transition-duration="#{$count}"] {
        transition-duration: $count + ms;
      }
      &[data-transition-delay="#{$count}"] {
        transition-delay: $count + ms;
      }
      $count: $count + 25;
    }

  }

}


//////////////////////////////////////////////////////////
////  LEGACY
//////////////////////////////////////////////////////////

// .slider__item {
//   .lazyload-item--inline.lazyload-item--video {
//     object-fit: cover;
//   }
// }
//
// .slider__item--video {
//   overflow: hidden;
// }
//
// .glide__slide--active {
//   .lazyload-item {
//     opacity: 1;
//   }
//   & + .glide__slide {
//     .lazyload-item {
//       opacity: 1;
//     }
//   }
// }

// .lazyload-item {
//
//   $count: 50;
//
//   transition-property: opacity;
//   opacity: 0;
//   display: block;
//
//   &--inline {
//     height: auto;
//     width: 100%;
//   }
//
//   &--background {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     &.lazyload-item--image {
//       background-position: center center;
//       background-repeat: no-repeat;
//       background-size: cover;
//     }
//     &.lazyload-item--video {
//       object-fit: cover;
//       object-position: center center;
//       left: -0.5%;
//       width: 101%;
//     }
//   }
//
//   &.lazyloaded {
//     opacity: 1;
//   }
//
//   @while $count < 4000 {
//     &[data-transition-duration="#{$count}"] {
//       transition-duration: $count + ms;
//     }
//     &[data-transition-delay="#{$count}"] {
//       transition-delay: $count + ms;
//     }
//     $count: $count + 10;
//   }
//
// }
