@use '../utils/variables' as *;
@use '../utils/mixins/breakpoint' as *;
@use '../utils/mixins/button' as *;
@use '../utils/mixins/placeholder' as *;

.lead-generator {

  height: 100%;
  height: calc(100vh - var(--theme-header-height));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  .button {
    margin: 0 auto;
    max-width: 340px;
    [data-colour-theme="black"] & {
      background: var(--theme-colour--white);
      border-bottom: 1px solid var(--theme-colour--white);
      color: var(--theme-colour--black);
      &:hover {
        background: var(--theme-colour--yellow);
        border-bottom: 1px solid var(--theme-colour--yellow);
      }
    }
    [data-colour-theme="yellow"] & {
      background: var(--theme-colour--black);
      border-bottom: 1px solid var(--theme-colour--black);
      color: var(--theme-colour--yellow);
      &:hover {
        background: var(--theme-colour--white);
        border-bottom: 1px solid var(--theme-colour--white);
        color: var(--theme-colour--black);
      }
    }
  }

  .form {
    &__button {
      width: 100%;
      font-size: 13px;
    }
    &__field {
      & + .form__field {
        margin-top: 24px;
      }
    }
    &__row {
      & + .form__row {
        margin-top: 40px;
      }
    }
  }

  .checkbox {
    &__input,
    &__message {
      display: block;
    }
    &__input {
      height: 13px;
      width: 13px;
    }
    &__label {
      display: inline-flex;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      min-height: 48px;
      gap: 10px;
    }
    &__message {
      flex: 1;
    }
    &.error {
      .checkbox__label {
        background: rgba(255,72,0,.15);
      }
    }
  }

  .input {
    &--underlined {
      padding: 10px;
      text-align: center;
      min-height: 48px;
    }
    [data-colour-theme="black"] & {
      &--underlined {
        border-bottom: 1px solid var(--theme-colour--white);
        color: var(--theme-colour--white);
        @include placeholder {
          color: var(--theme-colour--white);
          opacity: 0.5;
        }
      }
    }
    [data-colour-theme="yellow"] & {
      &--underlined {
        border-bottom: 1px solid var(--theme-colour--black);
        color: var(--theme-colour--black);
        @include placeholder {
          color: var(--theme-colour--black);
          opacity: 0.5;
        }
      }
    }
  }

  .field {
    &.error {
      [data-colour-theme="black"] & {
        input {
          background: rgba( 255, 255, 255, 0.05 );
        }
      }
      [data-colour-theme="yellow"] & {
        input {
          background: rgba( 0, 0, 0, 0.05 );
        }
      }
    }
  }

  &__hero,
  &__main {
    width: 100%;
    display: block;
  }

  &__heading {
    margin: 0;
    & + .lead-generator__subheading {
      margin-top: 10px;
    }
  }

  &__hero {
    text-align: center;
    & + .lead-generator__main {
      margin-top: 50px;
    }
  }

  &__logo {

    img,
    svg {
      display: block;
      width: 66%;
      height: auto;
      margin: 0 auto;
    }

    & + .lead-generator__heading,
    & + .lead-generator__message {
      margin-top: 50px;
    }

  }

  @include breakpoint(sm) {

    height: calc(100vh - var(--theme-header-height--sm));



    .form {
      &__button {
        font-size: 14px;
      }
    }

  }

  @include breakpoint(md) {

    height: calc(100vh - var(--theme-header-height--md));

    .button {
      max-width: 360px;
    }

    .form {
      &__button {
        font-size: 15px;
      }
    }

  }

  @include breakpoint(lg) {

    height: calc(100vh - var(--theme-header-height--lg));

    .button {
      max-width: 380px;
    }

    .form {
      &__button {
        font-size: 16px;
      }
      &__field {
        & + .form__field {
          margin-top: 0px;
        }
      }
    }

    &__hero {
      text-align: center;
      & + .lead-generator__main {
        margin-top: 90px;
      }
    }

  }

  @include breakpoint(xl) {

    height: calc(100vh - var(--theme-header-height--xl));

  }

  @include breakpoint(xxl) {

    height: calc(100vh - var(--theme-header-height--xxl));

  }

}
