@use '../utils/mixins/button' as *;
@use '../utils/mixins/link' as *;
@use '../utils/mixins/ui' as *;

.link {

  @extend %ui-base;
  @extend %ui-transition;

  &.no-link {
    pointer-events: none;
    cursor: no-drop;
    opacity: 0;
  }

  @include link();

  &--outlined-pill {
    //@include button-LEAGCY(outlined-pill);
  }

}
