@use '../utils/variables' as *;
@use '../utils/mixins/breakpoint' as *;

.logo {

  $logo-height: 16px;
  $logo-height--sm: 18px;
  $logo-height--md: 18px;
  $logo-height--lg: 18px;
  $logo-height--xl: 20px;
  $logo-height--xxl: 20px;


  height: var(--theme-header-height );
  position: fixed;
  z-index: 300;
  left: 30px;
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

	a {
  	height: $logo-height;
  	width: auto;
  	display: block;
	}

	svg, img {
  	display: block;
  	height: 100%;
  	width: auto;
	}

  @include breakpoint(sm) {

    height: var(--theme-header-height--sm );

    a {
    	height: $logo-height--sm;
  	}

  }

  @include breakpoint(md) {

    height: var(--theme-header-height--md );

    a {
    	height: $logo-height--md;
    	margin-top: ($logo-height--md * -0.5);
  	}

  }

  @include breakpoint(lg) {

    height: var(--theme-header-height--lg );

    a {
    	height: $logo-height--lg;
  	}

  }

  @include breakpoint(xl) {

    height: var(--theme-header-height--xl );

    a {
      height: $logo-height--xl;
    }

  }

  @include breakpoint(xxl) {

    height: var(--theme-header-height--xxl );

    a {
    	height: $logo-height--xxl;
  	}

  }

}
