@use '../utils/mixins/breakpoint' as *;

.longevity-club {

  &__featured {
    border-bottom: 2px solid var(--theme-colour--black);
    margin-bottom: 28px;
    padding-bottom: 28px;
  }

  &__listing {
    margin-bottom: 50px;
  }

  @include breakpoint(sm) {}

  @include breakpoint(md) {

    .card-article {
      &__excerpt {
        // font-size: 12px;
      }
      &__title {
        font-size: 20px;
      }
      &.featured {
        .card-article {
          &__excerpt {
            // font-size: 14px;
          }
          &__title {
            font-size: 30px;
          }
        }
      }
    }

    &__featured {
      @for $i from 1 through 50 {
        &[data-grid-gutter="#{$i}"] {
          article {
            gap: $i * 1px;
          }
        }
      }
    }

  }

  @include breakpoint(lg) {

    .card-article {
      &__excerpt {
        // font-size: 14px;
      }
      &__title {
        font-size: 22px;
      }
      &.featured {
        .card-article {
          &__excerpt {
            // font-size: 15px;
          }
          &__title {
            font-size: 38px;
          }
        }
      }
    }

    &__featured {
      margin-bottom: 32px;
      padding-bottom: 32px;
    }

  }

  @include breakpoint(xl) {

    .card-article {
      &__excerpt {
        // font-size: 15px;
      }
      &__title {
        font-size: 24px;
      }
      &.featured {
        .card-article {
          &__excerpt {
            // font-size: 16px;
          }
          &__title {
            font-size: 42px;
          }
        }
      }
    }

  }

  @include breakpoint(xxl) {

    .card-article {
      &__excerpt {
        // font-size: 16px;
      }
      &__title {
        font-size: 26px;
      }
      &.featured {
        .card-article {
          &__excerpt {
            // font-size: 17px;
          }
          &__title {
            font-size: 48px;
          }
        }
      }
    }

  }

}
