@use '../utils/mixins/breakpoint' as *;

.masonry-grid {

  &__container {
    margin: 0;
    overflow: hidden;
  }

  &__sizer,
  &__item {
    width: 50%;
  }

  &__item {
    padding: 0;
    position: relative;
    float: left;
    cursor: pointer;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    a {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
      border: none !important;
      &:hover {
        .masonry-grid__card {
          opacity: 1;
        }
      }
    }
    &.has-image {}
    &.no-image {}
  }

  &.drawer-active {

    //@include transform3d( -100%, 0, 0 );
    overflow-y: hidden;

    .masonry-grid__close {
      opacity: 1;
      z-index: 1;
    }

    .masonry-grid__sizer,
		.masonry-grid__item {
			width: 50%;
		}

  }

  @include breakpoint(sm) {

    &__sizer,
    &__item {
      width: 50%;
    }

  } // min width sm

  @include breakpoint(md) {

    &__sizer,
		&__item {
			width: 33.3333%;
		}

  } // min width md

  @include breakpoint(lg) {

    &__sizer,
		&__item {
			width: 25%;
		}

    &.drawer-active {
      // @include transform3d( -75%, 0, 0 );
    }

  } // min width lg



  @include breakpoint(xxl) {

    &__sizer,
		&__item {
			width: 20%;
		}

  } // min width xxl

}
