@use '../utils/mixins/breakpoint' as *;

.masthead {

  text-align: center;

  &__masthead,
  &__special-thanks {
    text-transform: uppercase;
  }

  &__heading {
    margin: 0;
    & + .masthead__contributors,
    & + .masthead__masthead,
    & + .masthead__special-thanks {
      margin-top: 28px;
    }
  }

  &__special-thanks {
    margin-top: 20px;
  }

  @include breakpoint(xxl) {

    &__heading {
      & + .masthead__contributors,
      & + .masthead__masthead,
      & + .masthead__special-thanks {
        margin-top: 32px;
      }
    }

  }

}
