@use '../utils/variables' as *;
@use '../utils/mixins/breakpoint' as *;

@debug "Not sure about this";

.media {

  display: block;
  width: 100%;

  .container,
  .container-fluid {
    .media__caption {
      margin-left: 0;
    }
  }

  &__caption {
    margin-bottom: var(--theme-layout--gutter);
    margin-left: var(--theme-layout--gutter);
  }

  &__item {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
    &.video {
      video {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }

  &__row {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    &[data-gutters-horizontal="true"] {
      margin-bottom: var(--theme-layout--gutter);
    }
  }

  @include breakpoint(md) {

    &__row {
      &[data-media-count="2"] {
        flex-flow: row nowrap;
        .media__item {
          width: 50%;
        }
        &[data-gutters-vertical="true"] {
          .media__item {
            width: 48%;
            width: calc( (100% - var(--theme-layout--gutter)) * 0.5 );
          }
        }
      }
    }

  }

}
