@use '../utils/mixins/breakpoint' as *;

@debug "Not sure about this";

.menu {

  &__list,
  &__item {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    color: var(--theme-colour--black);
    text-transform: uppercase;
    line-height: 1.6;
    font-size: 12px;
  }

  .menu__item:not(.menu__item--heading) + .menu__item:not(.menu__item--heading) {
    margin-top: 10px;
  }

  a {
    color: inherit;
  }

  // ---------------------------------------- Push Content

  &--push-content {

    .menu__list,
    .menu__item {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .menu__list {
      display: block;
    }

    .menu__item {
      .checkbox {
        display: flex;
        align-items: center;
        &__label {
          line-height: 1;
          margin-top: 3px;
        }
      }
      &--filter {
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        label {
          display: inline-block;
          width: auto;
          cursor: pointer;
        }
        input {
          display: none;
        }
        & + .menu__item__filter {
          margin-top: 15px;
        }
      }
      &--heading {
        font-family: var(--theme-font-family--sorry-sans);
        font-size: 1.6 * 12px;
        margin-top: 22px;
        margin-bottom: 8px;
        text-transform: none;
      }
    }

  } // filter



  @include breakpoint(md) {

    &__item {
      font-size: 13px;
    }

    // ---------------------------------------- Push Content

    &--push-content {

      .menu__item {
        &--heading {
          font-size: 1.6 * 13px;
          margin-top: 23px;
          margin-bottom: 9px;
        }
      }

    } // filter

  } // min width md

  @include breakpoint(lg) {

    &__item {
      font-size: 14px;
    }

    .menu__item:not(.menu__item--heading) + .menu__item:not(.menu__item--heading) {
      margin-top: 0;
    }

    // ---------------------------------------- Push Content

    &--push-content {

      .menu__item {
        &--filter {
          line-height: 1.45;
          & + .menu__item__filter {
            margin-top: 5px;
          }
        }
        &--heading {
          font-size: 1.6 * 14px;
          margin-top: 12px;
          margin-bottom: 10px;
        }
      }

    } // filter

  } // min width lg

  @include breakpoint(xl) {

    &__item {
      font-size: 15px;
    }

    // ---------------------------------------- Push Content

    &--push-content {

      .menu__item {
        &--filter {}
        &--heading {
          font-size: 1.6 * 15px;
          margin-top: 25px;
          margin-bottom: 11px;
        }
      }

    } // filter

  } // min width xl

  @include breakpoint(xxl) {

    &__item {
      font-size: 16px;
    }

    // ---------------------------------------- Push Content

    &--push-content {

      .menu__item {
        &--filter {}
        &--heading {
          font-size: 1.6 * 16px;
          margin-top: 26px;
          margin-bottom: 12px;
        }
      }

    } // filter

  } // min width xxl

} // .menu
