@use '../utils/variables' as *;
@use '../utils/mixins/breakpoint' as *;

@debug "Not sure about this";

.message, .rte, .wysiwyg {

  a {
  	color: inherit;
  	border-bottom: 1px solid inherit;
  	line-height: 0.8;
  	&:hover, &:active {
    	color: inherit;
    	border-bottom-color: transparent;
  	}
	}

  b, strong {
    font-weight: bold;
  }

	a {
		display: inline-block;
	}

	ul, ol {
  	padding-left: 15px;
  }

  table, p, ul, ol {
  	margin: 0px 0px 24px 0px;
  	&:last-child {
  		margin: 0;
  	}
  }

  ul li {
  	list-style: disc;
  	padding-left: 10px;
  }

  ul {
  	padding-left: 24px;
  }

  ol li {
  	list-style: decimal;
  	padding-left: 8px;
  }

	p {
		img {
			width: 100%;
			height: auto;
			display: block;
			margin: 0px;
			padding: 0px;
			& + img {
				margin: 10px 0px 0px 0px;
			}
		}
	}

	table {
		width: 100%;
		max-width: 600px;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	table, tr, td {
		border: 1px solid #BEBEBD;
	}

	td {
		padding: 1.5% 5%;
	}

  & > *:last-child {
    margin-bottom: 0;
  }

  @each $colour-name, $colour-value in $theme-colours {
    .#{$colour-name} {
      color: $colour-value;
    }
  }

  @include breakpoint(sm) {

    table, p, ul, ol {
  		margin: 0px 0px 26px 0px;
  	}

  } // min width sm

  @include breakpoint(md) {

    table, p, ul, ol {
  		margin: 0px 0px 24px 0px;
  	}

  } // min width md

  @include breakpoint(lg) {

    table, p, ul, ol {
  		margin: 0px 0px 28px 0px;
  	}

  } // min width lg

  @include breakpoint(xl) {

    table, p, ul, ol {
  		margin: 0px 0px 30px 0px;
  	}

  } // min width xl

  @include breakpoint(xxl) {

    table, p, ul, ol {
      margin: 0px 0px 30px 0px;
    }

  } // min width xxl

} // .message
