@use '../utils/mixins/breakpoint' as *;

.monogram {

  &__icon {
    width: 90px;
    height: auto;
    margin: 0 auto;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  & + .longevity-club {
    margin-top: 34px;
  }

  & + .post {
    margin-top: 28px;
  }

  @include breakpoint(sm) {
    &__icon {
      width: 100px;
    }
  }

  @include breakpoint(md) {
    &__icon {
      width: 110px;
    }
  }

  @include breakpoint(lg) {
    &__icon {
      width: 160px;
    }
    & + .longevity-club {
      margin-top: 50px;
    }
    & + .post {
      margin-top: 32px;
    }
  }

  @include breakpoint(xl) {
    &__icon {
      width: 165px;
    }
  }

  @include breakpoint(xxl) {
    &__icon {
      width: 170px;
    }
  }

}
