@use '../utils/variables' as *;
@use '../utils/mixins/breakpoint' as *;

@debug "Not sure about this";

.category,
.offset {

  h2, h3, h4, h5, h6 {
    display: block;
    width: 100%;
    margin: 0 0 26px 0;
  }

  .article {
    background: var(--theme-colour--yellow);
    color: var(--theme-colour--black);
    margin: 0 0 calc( var(--theme-layout--gutter) * 2 ) 0;
    padding: calc( var(--theme-layout--gutter) * 2 );
    p {
      margin: 0 0 16px 0;
    }
    &__title {
      font-weight: 700;
    }
    &[data-post-id="2304"] {
      background: var(--theme-colour--red);
      color: var(--theme-colour--black);
    }
  }

  &__all-posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    .article {
      width: 100%;
    }
  }

  &__paginated-posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    .article {
      background: var(--theme-colour--blue);
      color: var(--theme-colour--white);
      width: 100%;
    }
  }

  @include breakpoint(lg) {

    .article {
      p {
        font-size: 12px;
      }
    }

    &__all-posts {
      .article {
        width: 30%;
      }
    }

  }

}
