@use '../utils/variables' as *;
@use '../utils/mixins/breakpoint' as *;

@debug "Not sure about this";

.post__note {

  margin: 35px auto 0;
  padding: 0;
  width: 70%;

  p {
    margin: 0;
    padding: 0;
    line-height: 1.375;
  }

	@include breakpoint(md) {
  	margin: 40px auto 0;
    width: 45%;
	}

	@include breakpoint(xl) {
  	margin: 50px auto 0;
	}

}
