@use '../utils/mixins/breakpoint' as *;

.spine {

  background: var(--theme-colour--yellow);
  color: var(--theme-colour--black);
  height: var(--theme-longevity-club--spine-width);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 100;

  &__barcode {
    width: 180px;
    height: auto;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
    & + .spine__title {
      margin-left: 32px;
    }
  }

  &__main {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 20px
  }

  &__title {
    font-family: var(--theme-font-family--neue-haas-grotesk-display);
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    display: none;
    margin: 0;
  }

  @include breakpoint(lg) {

    bottom: unset;
    left: unset;
    top: 0;
    right: var(--theme-longevity-club--spine-width);
    width: 100vh;
    z-index: 100;
    transform-origin: top right;
    transform: rotate(-90deg);

    &__barcode {
      width: 130px;
      & + .spine__title {
        margin-left: 28px;
      }
    }

    &__main {
      padding: 0 30px;
      justify-content: flex-start;
    }

    &__title {
      font-size: min(5vh, 40px);
      display: block;
    }

  }

  @include breakpoint(xl) {

    &__barcode {
      width: 150px;
      & + .spine__title {
        margin-left: 30px;
      }
    }

    &__title {
      font-size: min(5.75vh, 52px);
    }

  }

  @include breakpoint(xxl) {

    &__barcode {
      width: 170px;
      & + .spine__title {
        margin-left: 32px;
      }
    }

    &__title {
      font-size: min(6.25vh, 54px);
    }

  }

}
