@use "../utils/mixins/breakpoint" as *;

@debug "Not sure about this";

.taxonomy-list {

  margin: 35px auto 0;
  padding: 0;
  list-style: none;

  &__item {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.375;
  }

  &--tags {
    width: 70%;
  }

	@include breakpoint(md) {

  	margin: 40px auto 0;

  	&--tags {
      width: 45%;
    }

	}

	@include breakpoint(xl) {

  	margin: 50px auto 0;

	}

}
