@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;

.testimonials {

  &__item {
    @include border-solid( var(--theme-border--width), 'inherit', 'top' );
    padding-top: 20px;
  }

  &__list {
    display: grid;
    width: 100%;
    row-gap: 50px;
  }

  &__message {
    & + .testimonials__client {
      margin-top: 18px;
    }
  }

  @include breakpoint(lg) {

    &__list {
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--theme-layout--gutter);
    }

  }

}
