@use "../utils/variables" as *;
@use "../utils/mixins/breakpoint" as *;

@debug "Not sure about this";

.video-embed {

  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;

  iframe {
    display: none;
  }

  &.responsive {
    &--7500 {
      padding-top: 75.00%;
    }
    &--5625 {
      padding-top: 56.25%;
    }
    &--5000 {
      padding-top: 50.00%;
    }
    &--4165 {
      padding-top: 41.65%;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

}
