.error-404 {
  &__heading {
    & + .error-404__message {
      margin-top: 24px;
    }
  }
  &__main {
    height: var(--theme-viewport-height);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
