@use 'sass:map';
@use '../utils/variables' as *;
@use '../utils/mixins/breakpoint' as *;

body {

  background: var(--theme-colour--white);
  color: var(--theme-colour--black);
  display: flex;
  flex-direction: column;

  main {
    @each $name, $value in map.get( $theme-layout-settings, 'breakpoints' ) {
      @if $name == 'base' {
        padding-top: var(--theme-header-height);
      } @else {
        @include breakpoint(#{$name}) {
          padding-top: var(--theme-header-height--#{$name});
        }
      }
    }
    transition: padding var(--theme-transition--duration);
    flex: 1 0 auto;
    overflow: hidden;

    &.is-404 {
      padding: 0;
      height: 100%;
      min-height: 100%;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }

  }

  footer {
    flex-shrink: 0;
  }

  @include breakpoint(lg) {

    [data-margin-bottom] {
      margin-bottom: 40px;
    }

    &.longevity-club {
      padding-right: var(--theme-longevity-club--spine-width);
      .container {
        max-width: calc( var(--theme-container--lg) - var(--theme-longevity-club--spine-width) );
      }
    }

  }

  @include breakpoint(xl) {

    &.longevity-club {
      .container {
        max-width: calc( var(--theme-container--xl) - var(--theme-longevity-club--spine-width) );
      }
    }

  }

  @include breakpoint(xxl) {

    &.longevity-club {
      .container {
        max-width: calc( var(--theme-container--xxl) - var(--theme-longevity-club--spine-width) );
      }
    }

  }

}
