@use "sass:map";
@use "sass:meta";
@use "../utils/variables" as *;
@use "../utils/mixins/tools" as *;

:root {

  @include scss-map-to-css-var( '--theme-aos', $theme-aos-settings );
  @include scss-map-to-css-var( '--theme-border', $theme-border-settings );
  @include scss-map-to-css-var( '--theme-burger', $theme-burger-settings );
  @include scss-map-to-css-var( '--theme-colour', $theme-colours );
  @include scss-map-to-css-var( '--theme-container', map.get( $theme-layout-settings, 'containers' ) );
  @include scss-map-to-css-var( '--theme-font-family', $theme-font-families );
  @include scss-map-to-css-var( '--theme-header-height', $theme-header-heights );
  @include scss-map-to-css-var( '--theme-longevity-club', $theme-longevity-club-settings );
  @include scss-map-to-css-var( '--theme-push-menu-width', map.get( $theme-push-menu-settings, 'widths' ) );
  @include scss-map-to-css-var( '--theme-push-menu-link-font-size', map.get( $theme-push-menu-settings, 'link-font-sizes' ) );
  @include scss-map-to-css-var( '--theme-transition', $theme-transition-settings );

  --theme-layout--container-padding: #{meta.inspect(map.get( $theme-layout-settings, 'container-padding' ))};
  --theme-layout--gutter: #{meta.inspect(map.get( $theme-layout-settings, 'gutter' ))};

  // ---------------------------------------- Button | Font Size
  --theme-button-font-size: #{ map-get( $theme-button-font-sizes, base ) };
  --theme-button-font-size--sm: #{ map-get( $theme-button-font-sizes, sm ) };
  --theme-button-font-size--md: #{ map-get( $theme-button-font-sizes, md ) };
  --theme-button-font-size--lg: #{ map-get( $theme-button-font-sizes, lg ) };
  --theme-button-font-size--xl: #{ map-get( $theme-button-font-sizes, xl ) };
  --theme-button-font-size--xxl: #{ map-get( $theme-button-font-sizes, xxl ) };

  // ---------------------------------------- Button | Height
  --theme-button-min-height: #{ map-get( $theme-button-min-heights, base ) };
  --theme-button-min-height--sm: #{ map-get( $theme-button-min-heights, sm ) };
  --theme-button-min-height--md: #{ map-get( $theme-button-min-heights, md ) };
  --theme-button-min-height--lg: #{ map-get( $theme-button-min-heights, lg ) };
  --theme-button-min-height--xl: #{ map-get( $theme-button-min-heights, xl ) };
  --theme-button-min-height--xxl: #{ map-get( $theme-button-min-heights, xxl ) };

  // ---------------------------------------- Button | Height
  --theme-button-min-width: #{ map-get( $theme-button-min-widths, base ) };
  --theme-button-min-width--sm: #{ map-get( $theme-button-min-widths, sm ) };
  --theme-button-min-width--md: #{ map-get( $theme-button-min-widths, md ) };
  --theme-button-min-width--lg: #{ map-get( $theme-button-min-widths, lg ) };
  --theme-button-min-width--xl: #{ map-get( $theme-button-min-widths, xl ) };
  --theme-button-min-width--xxl: #{ map-get( $theme-button-min-widths, xxl ) };

  // ---------------------------------------- Post Media Border Radius
  --theme-post-media-border-radius: 24px;

  // ---------------------------------------- Radio
  --theme-radio-size: #{ map-get( $theme-radio-sizes, 'base' ) };
  --theme-radio-size--sm: #{ map-get( $theme-radio-sizes, 'sm' ) };
  --theme-radio-size--md: #{ map-get( $theme-radio-sizes, 'md' ) };
  --theme-radio-size--lg: #{ map-get( $theme-radio-sizes, 'lg' ) };
  --theme-radio-size--xl: #{ map-get( $theme-radio-sizes, 'xl' ) };
  --theme-radio-size--xxl: #{ map-get( $theme-radio-sizes, 'xxl' ) };

}
