// ---------------------------------------- Akkurat Mono LL | Bold
@font-face {
  font-family: 'Akkurat Mono LL';
  src: url('./assets/fonts/AkkuratMonoLLTT-Bold.eot');
  src: url('./assets/fonts/AkkuratMonoLLTT-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/AkkuratMonoLLTT-Bold.ttf') format('truetype'),
    url('./assets/fonts/AkkuratMonoLLTT-Bold.woff2') format('woff2'),
    url('./assets/fonts/AkkuratMonoLLTT-Bold.woff') format('woff'),
    url('./assets/fonts/AkkuratMonoLLTT-Bold.svg#AkkuratMonoLLTT-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// ---------------------------------------- Akkurat Mono LL | Regular
@font-face {
  font-family: 'Akkurat Mono LL';
  src: url('./assets/fonts/AkkuratMonoLLWeb-Regular.eot');
  src: url('./assets/fonts/AkkuratMonoLLWeb-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/AkkuratMonoLLWeb-Regular.ttf') format('truetype'),
    url('./assets/fonts/AkkuratMonoLLWeb-Regular.woff2') format('woff2'),
    url('./assets/fonts/AkkuratMonoLLWeb-Regular.woff') format('woff'),
    url('./assets/fonts/AkkuratMonoLLWeb-Regular.svg#AkkuratMonoLLWeb-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// ---------------------------------------- Bookerly | Bold Italic
@font-face {
  font-family: "Bookerly-BoldItalic";
  src: url('./assets/fonts/Bookerly-BoldItalic.eot');
  src: url('./assets/fonts/Bookerly-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Bookerly-BoldItalic.ttf') format('truetype'),
    url('./assets/fonts/AkkuratMonoLLWeb-Regular.woff2') format('woff2'),
    url('./assets/fonts/Bookerly-BoldItalic.woff') format('woff'),
    url('./assets/fonts/Bookerly-BoldItalic.svg#Bookerly-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// ---------------------------------------- Not Sorry Serif | Normal
@font-face {
  font-family: "Not Sorry Serif";
  src: url('./assets/fonts/NotSorrySerif-Bold.eot');
  src: url('./assets/fonts/NotSorrySerif-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/NotSorrySerif-Bold.ttf') format('truetype'),
    url('./assets/fonts/NotSorrySerif-Bold.woff2') format('woff2'),
    url('./assets/fonts/NotSorrySerif-Bold.woff') format('woff'),
    url('./assets/fonts/NotSorrySerif-Bold.svg#NotSorrySerif-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// ---------------------------------------- Sorry Sans | Bold Extended
@font-face {
  font-family: 'Sorry Sans';
  src: url('./assets/fonts/SorrySans-BoldExtended.eot');
  src: url('./assets/fonts/SorrySans-BoldExtended.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/SorrySans-BoldExtended.ttf') format('truetype'),
    url('./assets/fonts/SorrySans-BoldExtended.woff2') format('woff2'),
    url('./assets/fonts/SorrySans-BoldExtended.woff') format('woff'),
    url('./assets/fonts/SorrySans-BoldExtended.svg#NotSorrySerif-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
