@use "../utils/mixins/body-copy" as *;
@use "../utils/mixins/breakpoint" as *;
@use "../utils/mixins/font" as *;

.footer {

  @include font-akkurat-mono-ll();
  flex-shrink: 0;
  font-size: 13px;
  font-weight: 400;

  &__front-page,
  &__main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat( 1, 1fr );
    &-link {
      line-height: inherit;
    }
  }

  &__front-page {
    padding: 30px var(--theme-layout--container-padding);
    max-width: 400px;
    &-icon-set {
      margin-top: 42px;
      width: 100%;
      img, svg {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    &-project-title {
      display: block;
    }
    &-projects {
      text-transform: uppercase;
      line-height: 1;
      & + .footer__front-page-summary {
        margin-top: 18px;
      }
    }
    &-summary {
      line-height: 1.4;
      p, li {
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        &:last-child {
          margin: 0;
        }
      }
    }
  }

  &__main {

    padding: 45px var(--theme-layout--container-padding);
    text-transform: uppercase;
    line-height: 1.32;
    row-gap: 32px;

    a {
      color: inherit;
    }

    span {
      display: block;
    }

    &-contact,
    &-location {
      width: 100%;
    }

    &-contact {
      &-tagline {
        margin-top: 10px;
      }
    }

    &-location {
      &-address,
      &-phone {
        display: block;
      }
      &-address {
        & + .footer__main-location-phone {
          margin-top: 10px;
        }
      }
    }

  }

  .longevity-club & {
    margin-bottom: var(--theme-longevity-club--spine-width);
  }

	@include breakpoint(md) {

    font-size: 14px;

  	&__front-page {
      max-width: 50%;
      &-icon-set {
        margin-top: 42px;
      }
      &-projects {
        & + .footer__front-page-summary {
          margin-top: 18px;
        }
      }
    }

	}

	@include breakpoint(lg) {

    font-size: 12px;

    @for $i from 1 through 4 {
      [data-grid-columns-desktop="#{$i}"] {
        grid-template-columns: repeat( $i, 1fr );
        & > * {
          text-align: center;
          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
          }
        }
      }
    }

    &__front-page {
      padding: 12px var(--theme-layout--container-padding);
      max-width: none;
      justify-content: space-between;
      align-content: center;
      flex-flow: row nowrap;
      &-icon-set {
        width: auto;
        margin: 0 0 0 auto;
        height: 30px;
        img, svg {
          width: auto;
          height: 100%;
        }
      }
      &-project-title {
        margin-top: 6px;
      }
    }

    &__main {

      padding: 25px var(--theme-layout--container-padding) 23px;
      row-gap: 0;

      &-contact,
      &-location {
        width: auto;
      }

      &-contact {
        &-tagline {
          margin-top: 0;
        }
      }

      &-location {
        &-address,
        &-phone {
          display: block;
        }
        &-address {
          & + .footer__main-location-phone {
            margin-top: 0;
          }
        }
      }

    }

    .longevity-club & {
      margin-bottom: 0;
    }

	}

}
