@use 'sass:map';
@use '../utils/variables' as *;
@use '../utils/mixins/breakpoint' as *;

.header {

  $logo-height: 15px;
  $logo-height--sm: 16px;
  $logo-height--md: 17px;
  $logo-height--lg: 20px;
  $logo-height--xl: 22px;
  $logo-height--xxl: 24px;

  &__brand {
    height: $logo-height;
    a, img, svg {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  &__main {
    @each $name, $value in map.get( $theme-layout-settings, 'breakpoints' ) {
      @if $name == 'base' {
        height: var(--theme-header-height);
      } @else {
        @include breakpoint(#{$name}) {
          height: var(--theme-header-height--#{$name});
        }
      }
    }
    width: 100%;
    padding: 0 var(--theme-layout--container-padding);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

	&--sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
	}

  @include breakpoint(sm) {
    &__brand {
      height: $logo-height--sm;
    }
  }

  @include breakpoint(md) {
    &__brand {
      height: $logo-height--md;
    }
  }

  @include breakpoint(lg) {
    &__brand {
      height: $logo-height--lg;
    }
  }

  @include breakpoint(xl) {
    &__brand {
      height: $logo-height--xl;
    }
  }

  @include breakpoint(xxl) {
    &__brand {
      height: $logo-height--xxl;
    }
  }

}
