//////////////////////////////////////////////////////////
////  Push Menu | Vars
//////////////////////////////////////////////////////////

:root {

  --push-menu-width: 100%;
  --push-menu-width--sm: 100%;
  --push-menu-width--md: 100%;
  --push-menu-width--lg: 50%;
  --push-menu-width--xl: 50%;
  --push-menu-width--xxl: 40%;

  --push-menu-main-link-size: 40px;
  --push-menu-main-link-size--sm: 40px;
  --push-menu-main-link-size--md: 55px;
  --push-menu-main-link-size--lg: 36px;
  --push-menu-main-link-size--xl: 42px;
  --push-menu-main-link-size--xxl: 48px;

}

//////////////////////////////////////////////////////////
////  Push Menu | Styles
//////////////////////////////////////////////////////////

.enable-announcements {
  .push-menu {
    height: calc( 100% - #{$theme-announcement-height} );
    top: $theme-announcement-height;
  }
}

.push-menu {

  transform: translate3d( var(--push-menu-width ), 0, 0 );
  width: var(--push-menu-width );
  background: var(--theme-colour--black);
  transition: transform 280ms, width 280ms;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 150;

  .navigation {

    &__link {
      color: var(--theme-colour--yellow);
      &.active,
      &:hover {
        color: var(--theme-colour--white);
      }
    }

    // ---------------------------------------- Footer
    &--footer {
      .navigation {
        &__item {
          width: 140px;
          margin-bottom: 12px;
          &:nth-child(even) {
            width: calc( 100% - 140px );
          }
        }
        &__link {
          @include body-copy( .8 );
          font-family: var(--theme-serif--akkurat );
          text-transform: uppercase;
        }
        &__list {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-flow: row wrap;
          margin-bottom: -12px;
        }
      }
    }

    // ---------------------------------------- Main
    &--main {
      .navigation {
        &__link {
          font-family: var(--theme-font-family--sorry-sans);
          font-size: var(--push-menu-main-link-size );
          &.active,
          &:hover {
            color: var(--theme-colour--white);
          }
        }
      }
    }

  }

  &__cart-summary {
    padding-top: 30px;
    padding-bottom: 30px;
    a {
      font-family: var(--theme-font-family--sorry-sans);
      color: var(--theme-colour--yellow);
      font-size: calc( var(--push-menu-main-link-size ) * 0.8 );
      &:hover {
        color: var(--theme-colour--white);
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;
  }

  &__footer {
    flex-shrink: 0;
  }

  &__main {
    flex: 1 0 auto;
  }

  &.is-active {
    transform: translate3d( 0, 0, 0 );
  }

  

  @include breakpoint(md) {

    .navigation {

      // ---------------------------------------- Footer
      &--footer {
        .navigation {
          &__item {
            width: 150px;
            &:nth-child(even) {
              width: calc( 100% - 150px );
            }
          }
        }
      }

      // ---------------------------------------- Main
      &--main {
        .navigation {
          &__link {
            font-size: var(--push-menu-main-link-size--md );
          }
        }
      }

    }

    &__cart-summary {
      a {
        font-size: calc( var(--push-menu-main-link-size--md ) * 0.8 );
      }
    }

  } // min width md

  @include breakpoint(lg) {

    width: var(--push-menu-width--lg );
    transform: translate3d( 100%, 0, 0 );

    .navigation {

      // ---------------------------------------- Footer
      &--footer {
        .navigation {
          &__item {
            width: 160px;
            &:nth-child(even) {
              width: calc( 100% - 160px );
            }
          }
        }
      }

      // ---------------------------------------- Main
      &--main {
        .navigation {
          &__link {
            font-size: var(--push-menu-main-link-size--lg );
          }
        }
      }

    }

    &__cart-summary {
      a {
        font-size: calc( var(--push-menu-main-link-size--lg ) * 0.8 );
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    .navigation {

      // ---------------------------------------- Footer
      &--footer {
        .navigation {
          &__item {
            width: 170px;
            &:nth-child(even) {
              width: calc( 100% - 170px );
            }
          }
        }
      }

      // ---------------------------------------- Main
      &--main {
        .navigation {
          &__link {
            font-size: var(--push-menu-main-link-size--xl );
          }
        }
      }

    }

    &__cart-summary {
      a {
        font-size: calc( var(--push-menu-main-link-size--xl ) * 0.8 );
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    width: var(--push-menu-width--xxl );

    .navigation {

      // ---------------------------------------- Footer
      &--footer {
        .navigation {
          &__item {
            width: 180px;
            &:nth-child(even) {
              width: calc( 100% - 180px );
            }
          }
        }
      }

      // ---------------------------------------- Main
      &--main {
        .navigation {
          &__link {
            font-size: var(--push-menu-main-link-size--xxl );
          }
        }
      }

    }

    &__cart-summary {
      a {
        font-size: calc( var(--push-menu-main-link-size--xxl ) * 0.8 );
      }
    }

  } // min width xxl

} // .mobile-menu
