@use '../utils/mixins/breakpoint' as *;

.post--brand-me {

  .post__hero {
    padding: 20px 0;
  }

  .section__image,
  .post__image {

    &.with-container {
      overflow: hidden;
      img {
        width: 120%;
        position: relative;
        left: -10%;
      }
    }

  }

  .section__image {

    &[data-node="2A"],
    &[data-node="2D"]  {
      margin: 38px 0;
    }

    &[data-node="2B"] {
      position: absolute;
      right: 0;
      width: 80px;
      height: auto;
      z-index: 0;
      display: none;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    &[data-node="2C"] {
      margin-top:15px;
    }

    &[data-node="form"] {
      position: absolute;
      right: 10px;
      display: none;
    }

  }

  @include breakpoint(sm) {


  } // min width sm

	@include breakpoint(md) {


    .section__image {

      &[data-node="2A"],
      &[data-node="2D"] {}

      &[data-node="2B"] {
        display: block;
        position: absolute;
        bottom: -10px;
        right: 0;
        width: 120px;
      }

      &[data-node="2C"] {}

      &[data-node="form"] {}

    }


	} // min width md

	@include breakpoint(lg) {

  	.post__hero {
    	padding: 0;
    }

    .section__image,
    .post__image {

      &.with-container {
        width: var(--theme-container--lg );
        margin-left: auto;
        margin-right: auto;
        img {
          width: 100%;
          position: relative;
          left: unset;
        }
      }

    }

    .section__image {

      &[data-node="2A"],
      &[data-node="2D"] {}

      &[data-node="2B"] {
        width: 134px;
      }

      &[data-node="2C"] {}

      &[data-node="form"] {
        display: block;
        top: -24px;
      }

    }

	} // min width lg

	@include breakpoint(xl) {

  	.section__image,
    .post__image {

      &.with-container {
        width: var(--theme-container--xl );
      }

    }

  	.section__image {

      &[data-node="2A"],
      &[data-node="2D"] {}

      &[data-node="2B"] {
        width: 180px;
      }

      &[data-node="2C"] {}

      &[data-node="form"] {
        top: -38px;
      }

    }

	} // min width xl

	@include breakpoint(xxl) {

  	.section__image,
    .post__image {
      &.with-container {
        width: var(--theme-container--xxl );
      }
    }

  	.section__image {

      &[data-node="2A"],
      &[data-node="2D"] {}

      &[data-node="2B"] {
        width: 210px;
      }

      &[data-node="2C"] {}

      &[data-node="form"] {
        top: -54px;
      }

    }

	} // min width xxl

} // .post--brand-me
