@use '../utils/mixins/breakpoint' as *;
@use "../utils/variables" as *;

.post {

  &__cats,
  &__tags {
    margin-top: 35px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  &__hero {
    text-align: center;
  }

  &__hero,
  &__body {
    padding: 30px 0 0 0;
  }

  &__title {
    margin: 0 auto;
    width: 90%;
    & + .post__cats,
    & + .post__note,
    & + .post__tags {
      padding-top: 15px;
    }
  }

  &__intro-graphic {
    width: 75%;
    margin: 35px auto 0;
    display: block;
    img, svg {
      width: 100%;
      height: auto;
      display: block;
    }
    & + .post__note,
    & + .taxonomy-list {
      padding-top: 15px;
    }
  }

  &--careers {

    .post__intro-graphic {
      width: 100%;
      height: auto;
      position: relative;
    }

    .section {
      .section__message {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
    	}
  	}

  	.section__heading + .job-postings {
    	margin-top: 50px;
  	}

  	.post__body {
    	margin-bottom: 100px;
  	}

  }

	@include breakpoint(md) {

    &__cats,
    &__tags {
      margin-top: 40px;
      width: 45%;
    }

    &__hero,
    &__body {
      padding: 40px 0 0 0;
    }

  	&__title {
      width: 72.5%;
    }

    &__intro-graphic {
      width: 50%;
      margin: 40px auto 0;
    }

     &--careers {

      $post-intro-graphic-offset: 25px;

      .post__intro-graphic {
        width: calc( 100% + (#{$hr-horizontal-offset}*2) );
        left: -$post-intro-graphic-offset;
        height: auto;
        position: relative;
      }

    }

	} // min width md

	@include breakpoint(lg) {

  	&__hero,
    &__body {
      padding: 45px 0 0 0;
    }

	} // min width lg

	@include breakpoint(xl) {

    &__cats,
    &__tags {
      margin-top: 50px;
    }

  	&__hero,
    &__body {
      padding: 55px 0 0 0;
    }

    &__intro-graphic {
      margin: 50px auto 0;
    }

	} // min width xl

	@include breakpoint(xxl) {

  	&__hero,
    &__body {
      padding: 65px 0 0 0;
    }

	}

}
