@use 'sass:map';
@use '../utils/variables' as *;
@use '../utils/mixins/breakpoint' as *;
@use '../utils/mixins/font' as *;

.push-menu {

  @each $name, $value in map.get( $theme-layout-settings, 'breakpoints' ) {
    @if $name == 'base' {
      width: var(--theme-push-menu-width);
    } @else {
      @include breakpoint(#{$name}) {
        width: var(--theme-push-menu-width--#{$name});
      }
    }
  }

  @include font-akkurat-mono-ll();
  transition:
    transform var(--theme-transition--duration),
    width var(--theme-transition--duration);
  transform: translate3d( 100%, 0, 0);
  background: var(--theme-colour--black);
  color: var(--theme-colour--white);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 150;

  .navigation {
    display: inline-grid;
    &__item,
    &__link {
      line-height: 1;
    }
    &__link {
      color: var(--theme-colour--yellow);
      &.active,
      &:hover {
        color: var(--theme-colour--white);
      }
    }
  }

  &__footer,
  &__main {
    padding: 30px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__footer {
    flex-shrink: 0;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    &-navigation {
      grid-template-columns: repeat(2, 140px);
      row-gap: 12px;
      width: 100%;
      text-transform: uppercase;
    }
    &-social {
      display: inline-flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      column-gap: 20px;
      &-item {
        height: 18px;
        width: 18px;
      }
      &-link {
        color: var(--theme-colour--yellow);
        height: 100%;
        width: 100%;
        &:hover {
          color: var(--theme-colour--white);
        }
      }
      & + .push-menu__footer-navigation {
        margin-top: 25px;
      }
    }
  }

  &__main {
    flex: 1 0 auto;
    padding-bottom: 0;
    &-message {
      margin-top: 30px;
      width: 100%;
      max-width: 400px;
    }
    &-navigation {
      @include font-sorry-sans();
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      row-gap: 12px;
      &-link {
        @each $name, $value in map.get( $theme-layout-settings, 'breakpoints' ) {
          @if $name == 'base' {
            font-size: var(--theme-push-menu-link-font-size);
          } @else {
            @include breakpoint(#{$name}) {
              font-size: var(--theme-push-menu-link-font-size--#{$name});
            }
          }
        }
      }
    }
  }

  .push-menu--active & {
    transform: translate3d( 0, 0, 0 );
  }

  @include breakpoint(sm) {

    &__footer {
      justify-content: space-between;
      align-items: flex-end;
      &-navigation {
        order: 1;
        grid-template-columns: repeat(2, 140px);
        row-gap: 12px;
        width: auto;
        flex: 1;
      }
      &-social {
        order: 2;
        width: auto;
        justify-content: flex-end;
        align-items: center;
        column-gap: 22px;
        &-item {
          height: 20px;
          width: 20px;
        }
        & + .push-menu__footer-navigation {
          margin-top: 0;
        }
      }
    }

  }

  @include breakpoint(md) {

    &__footer {
      &-navigation {
        grid-template-columns: repeat(2, 150px);
      }
      &-social {
        column-gap: 24px;
        &-item {
          height: 22px;
          width: 22px;
        }
      }
    }

    &__main {
      &-message {
        max-width: 450px;
      }
    }

  }

  @include breakpoint(lg) {

    &__footer {
      &-navigation {
        grid-template-columns: repeat(2, 160px);
      }
      &-social {
        column-gap: 22px;
        &-item {
          height: 20px;
          width: 20px;
        }
      }
    }

    &__main {
      &-message {
        max-width: 390px;
      }
      &-navigation {
        row-gap: 8px;
      }
    }

  }

  @include breakpoint(xl) {

    &__footer {
      &-navigation {
        grid-template-columns: repeat(2, 170px);
      }
    }

    &__main {
      &-message {
        max-width: 405px;
      }
    }

  }

  @include breakpoint(xxl) {

    &__footer {
      &-navigation {
        grid-template-columns: repeat(2, 180px);
      }
    }

    &__main {
      &-message {
        max-width: 420px;
      }
    }

  }

}
