@use "sass:map";
@use "sass:string";
@use '../utils/variables' as *;
@use '../utils/mixins/font' as *;

// ---------------------------------------- Font
.font {
  &-family {
    @each $name, $value in $theme-font-families {
      &--#{$name} {
        font-family: #{string.unquote($value)};
      }
    }
  }
  &-size {
    &--xl {
      font-size: 160%;
    }
    &--lg {
      font-size: 140%;
    }
    &--md {
      font-size: 120%;
    }
  }
  &-weight {
    @for $i from 1 through 9 {
      $weight: $i * 100;
      &--#{$weight} {
       font-weight: $weight;
      }
    }
  }
}

// ---------------------------------------- Position
.position {
  &--fixed {
    position: fixed;
    width: 100%;
  }
}

// ---------------------------------------- Text
.text {

  // ---------------------------------------- Alignment
  &--align-left {
    text-align: left;
  }

  &--align-center {
    text-align: center;
  }

  &--align-right {
    text-align: right;
  }

  // ---------------------------------------- Case
  &--uppercase {
    text-transform: uppercase;
  }

  // ---------------------------------------- Colour
  @each $name, $value in $theme-colours {
    &--#{$name} {
      color: var(--theme-colour--#{$name});
    }
  }
  &--dark {
    color: var(--theme-colour--black);
  }
  &--light {
    color: var(--theme-colour--white);
  }

}

// ---------------------------------------- Z-Index
.z-index {

  $base: 0;
	$step: 50;

  @while $base < 1000 {
    &--#{$base} {
      z-index: $base;
    }
    $base: $base + $step;
  }

}
