// ---------------------------------------- Theme Info
$theme: (
  'theme-name': 'We Are Very Polite 2.5',
  'theme-uri': 'https://weareverypolite.com',
  'description': 'We Are Very Polite 2.5 WordPress Theme',
  'author': 'Very Polite Digital Dept.',
  'author-uri': 'https://weareverypolite.com',
  'version': '1.0.0',
  'license': 'GNU General Public License v2 or later',
  'license-uri': 'URI: https://www.gnu.org/licenses/gpl-2.0.html',
  'tags': 'HTML5, CSS3, Responsive, Mobile Friendly',
  'text-domain': 'verypolite',
);

// ---------------------------------------- AOS Settings
$theme-aos-settings: (
  'travel': 9px,
);

// ---------------------------------------- Border Settings
$theme-border-settings: (
  'radius': 4px,
  'width': 2px,
);

// ---------------------------------------- Button Heights
$theme-button-heights: (
  'base': 40px,
  'sm': 42px,
  'md': 44px,
  'lg': 40px,
  'xl': 42px,
  'xxl': 44px
);

// ---------------------------------------- Button
$theme-button-settings: (
  'font-sizes': (
    'base': 12px,
    'sm': 12px,
    'md': 14px,
    'lg': 14px,
    'xl': 14px,
    'xxl': 16px
  ),
  'heights': (
    'base': 38px,
    'sm': 40px,
    'md': 42px,
    'lg': 42px,
    'xl': 50px,
    'xxl': 58px
  ),
  'widths': (
    'base': 150px,
    'sm': 150px,
    'md': 180px,
    'lg': 360px,
    'xl': 360px,
    'xxl': 400px
  )
);

// ---------------------------------------- LEGACY SHIT
$hr-horizontal-offset: 25px;

// ---------------------------------------- Bootstrap | Gutter
$grid-gutter-width: 24px;

// ---------------------------------------- Bootstrap | Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// ---------------------------------------- Bootstrap | Container Sizes
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1160px,
  xxl: 1360px
);

$theme-block-quote-sizes: (
  'xl': (
    'base': 28px,
    'lg': 48px,
  ),
  'lg': (
    'base': 24px,
    'lg': 34px,
  ),
  'md': (
    'base': 22px,
    'lg': 32px,
  ),
  'sm': (
    'base': 20px,
    'lg': 30px,
  ),
);

// ---------------------------------------- Body Copy
$theme-body-copy-font-sizes: (
  'lg': (
    'base': 18px,
    'sm': 18px,
    'md': 18px,
    'lg': 20px,
    'xl': 20px,
    'xxl': 20px
  ),
  'md': (
    'base': 16px,
    'sm': 16px,
    'md': 16px,
    'lg': 18px,
    'xl': 18px,
    'xxl': 18px
  ),
  'sm': (
    'base': 14px,
    'sm': 14px,
    'md': 14px,
    'lg': 16px,
    'xl': 16px,
    'xxl': 16px
  ),
  'xs': (
    'base': 12px,
    'sm': 12px,
    'md': 12px,
    'lg': 14px,
    'xl': 14px,
    'xxl': 14px
  ),
  'banner': (
    'base': 10px,
    'sm': 12px,
    'md': 14px,
    'lg': 14px,
    'xl': 14px,
    'xxl': 16px
  )
);

// ---------------------------------------- Theme Border Radius
$theme-border: (
  'radius': 4px,
  'width': 2px,
);

// ---------------------------------------- Theme Button Font Size
$theme-burger-settings: (
  'width': 30px,
  'height': 14px,
  'stroke-width': 3px
);

// ---------------------------------------- Theme Button Font Size
$theme-button-font-sizes: (
  'base': 13px,
  'sm': 14px,
  'md': 15px,
  'lg': 13px,
  'xl': 14px,
  'xxl': 15px
);

// ---------------------------------------- Theme Button Minimum Heights
$theme-button-min-heights: (
  'base': 40px,
  'sm': 40px,
  'md': 40px,
  'lg': 44px,
  'xl': 44px,
  'xxl': 44px
);

// ---------------------------------------- Theme Button Minimum Widths
$theme-button-min-widths: (
  'base': 120px,
  'sm': 120px,
  'md': 120px,
  'lg': 140px,
  'xl': 140px,
  'xxl': 140px
);

$theme-caption-font-sizes: (
  'lg': (
    'base': 16px,
    'sm': 16px,
    'md': 16px,
    'lg': 18px,
    'xl': 18px,
    'xxl': 18px
  ),
  'md': (
    'base': 14px,
    'sm': 14px,
    'md': 14px,
    'lg': 16px,
    'xl': 16px,
    'xxl': 16px
  ),
  'sm': (
    'base': 12px,
    'sm': 12px,
    'md': 12px,
    'lg': 14px,
    'xl': 14px,
    'xxl': 14px
  ),
  'xs': (
    'base': 10px,
    'sm': 10px,
    'md': 10px,
    'lg': 12px,
    'xl': 12px,
    'xxl': 12px
  )
);

// ---------------------------------------- Theme Colours
$theme-colours: (
  'arlo-green': #83BF7D,
  'beige' : #E0DED6,
  'black' : #111111,
  'blue' : #0038F5,
  'green': #81F25C,
  'grey' : #E0E0E0,
  'red' : #DC4117,
  'white' : #ffffff,
  'yellow' : #ffc700,
);

// ---------------------------------------- Font Families
$theme-font-families: (
  'sorry-sans': '"Sorry Sans", sans-serif',
  'neue-haas-grotesk-display': 'neue-haas-grotesk-display, sans-serif',
  'not-sorry-serif': '"Not Sorry Serif", serif',
  'bc-eric-machat-script': 'bc-eric-machat-script, sans-serif',
  'akkurat-mono-ll': '"Akkurat Mono LL", monospace'
);

// ---------------------------------------- Font Sizes | Body Copy
$theme-font-sizes-body-copy: (
  'base': 14px,
  'sm': 14px,
  'md': 16px,
  'lg': 12px,
  'xl': 13px,
  'xxl': 14px
);

// ---------------------------------------- Font Sizes | Heading
$theme-font-sizes-heading: (
  'base': 26px,
  'sm': 28px,
  'md': 30px,
  'lg': 32px,
  'xl': 36px,
  'xxl': 38px
);

// ---------------------------------------- Font Sizes | Title
$theme-font-sizes-title: (
  'base': 45px,
  'sm': 52px,
  'md': 60px,
  'lg': 88px,
  'xl': 108px,
  'xxl': 118px
);

// ---------------------------------------- Header Heights
$theme-header-heights: (
  'base': 65px,
  'sm': 75px,
  'md': 85px,
  'lg': 65px,
  'xl': 75px,
  'xxl': 85px,
  'total': auto
);

// ---------------------------------------- Heading Font Size
$theme-heading-font-sizes--LEGACY: (
  'base': 26px,
  'sm': 28px,
  'md': 32px,
  'lg': 34px,
  'xl': 38px,
  'xxl': 40px
);

// ---------------------------------------- Heading
$theme-heading-font-sizes: (
  'title': (
    'base': 45px,
    'sm': 52px,
    'md': 60px,
    'lg': 88px,
    'xl': 108px,
    'xxl': 118px
  ),
  'post-title': (
    'base': 7vw,
    'sm': 32px,
    'md': 42px,
    'lg': 46px,
    'xl': 54px,
    'xxl': 60px
  ),
  'lg': (
    'base': 28px,
    'sm': 34px,
    'md': 40px,
    'lg': 48px,
    'xl': 58px,
    'xxl': 70px
  ),
  'md': (
    'base': 26px,
    'sm': 32px,
    'md': 38px,
    'lg': 44px,
    'xl': 54px,
    'xxl': 66px
  ),
  'sm': (
    'base': 22px,
    'sm': 32px,
    'md': 40px,
    'lg': 21px,
    'xl': 25px,
    'xxl': 28px
  ),
  'xs': (
    'base': 22px,
    'sm': 32px,
    'md': 40px,
    'lg': 21px,
    'xl': 25px,
    'xxl': 28px
  )
);

// ---------------------------------------- Layout Settings
$theme-layout-settings: (
  'gutter': 20px,
  'container-padding': 20px,
  'breakpoints': (
    'base': 0,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
    'xxl': 1400px
  ),
  'containers': (
    'base': 100%,
    'sm': 540px,
    'md': 740px,
    'lg': 960px,
    'xl': 1160px,
    'xxl': 1360px
  )
);

// ---------------------------------------- Longevity Club Settings
$theme-longevity-club-settings: (
  'spine-width': 70px,
  'image-border-width': 24px
);

// ---------------------------------------- Longevity Club Settings
$theme-marquee-font-sizes: (
  'xl': (
    'base': 4.5vw,
    'lg': 3.5vw,
  ),
  'lg': (
    'base': 4vw,
    'lg': 3vw,
  ),
  'md': (
    'base': 3.5vw,
    'lg': 2.5vw,
  ),
  'sm': (
    'base': 3vw,
    'lg': 2vw,
  ),
);

// ---------------------------------------- Push Menu Width
$theme-push-menu-settings: (
  'link-font-sizes': (
    'base': 36px,
    'sm': 40px,
    'md': 55px,
    'lg': 32px,
    'xl': 36px,
    'xxl': 40px
  ),
  'widths': (
    'base': 100%,
    'sm': 100%,
    'md': 100%,
    'lg': 50%,
    'xl': 50%,
    'xxl': 40%
  )
);

// ---------------------------------------- Transition Settings
$theme-transition-settings: (
  'duration': 280ms,
  'opacity': 0.3333
);

// ---------------------------------------- Type Scales
$theme-type-sizes: ( 'xl', 'lg', 'md', 'sm', 'xs', 'xxs' );

// ---------------------------------------- Title Font Size
$theme-radio-sizes: (
  'base': 42px,
  'sm': 42px,
  'md': 42px,
  'lg': 52px,
  'xl': 57px,
  'xxl': 62px
);

// ---------------------------------------- Title Font Size
$theme-title-font-sizes: (
  'base': 45px,
  'sm': 45px,
  'md': 60px,
  'lg': 88px,
  'xl': 108px,
  'xxl': 118px
);
