@use 'sass:map';
@use '../variables' as *;
@use "breakpoint" as *;
@use "font" as *;

@mixin block-quote-size( $size: 'md' ) {

  @each $name, $value in map.get($theme-block-quote-sizes, $size) {
    @if $name == 'base' {
      font-size: $value;
    } @else {
      @include breakpoint(#{$name}) {
        font-size: $value;
      }
    }
  }

}

@mixin block-quote-style( $style: 'primary' ) {

  @if $style == 'primary' {
    @include font-bc-eric-machat-script(400);
    line-height: 1.25;
  }

  @if $style == 'secondary' {
    @include font-neue-haas-grotesk-display(900);
    line-height: 1.25;
  }

  @if $style == 'tertiary' {
    @include font-not-sorry-serif(bold);
    line-height: 1.25;
  }

}
