@use 'sass:map';
@use '../variables' as *;
@use "border" as *;
@use "breakpoint" as *;
@use "font" as *;
@use "heading" as *;

// ---------------------------------------- Size
@mixin body-copy-size( $size: 'md' ) {

  @each $name, $value in map.get($theme-body-copy-font-sizes, $size) {
    @if $name == 'base' {
      font-size: $value;
    } @else {
      @include breakpoint(#{$name}) {
        font-size: $value;
      }
    }
  }

}

// ---------------------------------------- Style
@mixin body-copy-style( $style: 'primary' ) {

  @if $style == 'primary' {
    @include font-akkurat-mono-ll(400);
    line-height: 1.3333;
  }

  @if $style == 'secondary' {
    @include font-not-sorry-serif(700);
    line-height: 1.18;
  }

  h2, h3, h4, h5, h6 {
    margin: 0 0 24px 0;
  }

  thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }

  ol, p, ul, table {
    margin-bottom: 20px;
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 38px;
    }
  }

  ol, ul {
    strong {
      margin: 0;
    }
    ol, ul {
      margin-top: 10px;
    }
  }

  a {
    color: inherit;
    &:focus,
    &:hover {
      color: inherit;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    word-break: break-word;
    strong {
      margin: 0;
    }
    th, td, thead {
      border-width: var(--theme-border--width);
      border-color: currentColor;
      border-style: solid;
      padding: 5px;
    }
  }

  p, li {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-style: inherit;
    font-family: inherit;
    a {
      @include border-solid( 2px, 'inherit', 'bottom' );
      transition: border var(--theme-transition--duration);
      color: inherit;
      display: inline-block;
      width: auto;
      text-decoration: none;
      outline: none;
      line-height: 1;
      &:focus,
      &:hover {
        border-bottom-color: transparent;
        text-decoration: none;
        outline: none;
      }
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(lg) {

    ol, p, ul, table {
      margin-bottom: 24px;
      & + h1,
      & + h2,
      & + h3,
      & + h4,
      & + h5,
      & + h6 {
        margin-top: 40px;
      }
    }

  }

}

// ---------------------------------------- LEGACY
@mixin body-copy($style:primary) {

  font-family: var(--theme-font-family--akkurat-mono-ll);
  color: inherit;
  font-style: normal;
  font-weight: 400;

  // font-family: bc-eric-machat-script, sans-serif;
  // font-weight: 700;
  // font-style: normal;

  h1 {
    @include heading(1);
  }

  h2 {
    @include heading(2);
  }

  h3, h4, h5 {
    @include heading(3);
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 24px;
  }

  ol, p, ul {
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 28px;
    }
  }

  p, li {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-style: inherit;
    font-family: inherit;
    text-transform: inherit;
    a {
      transition: border var(--theme-transition--duration);
      border-bottom-width: var(--theme-border--width);
      border-bottom-color: inherit;
      border-bottom-style: solid;
      color: inherit;
      display: inline-block;
      width: auto;
      text-decoration: none;
      outline: none;
      line-height: 1.05;
      &:focus,
      &:hover {
        border-bottom-color: transparent;
        text-decoration: none;
        outline: none;
      }
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  // ---------------------------------------- Primary
  @if $style == announcement {

    line-height: 1;
    font-size: 14px;

    @include breakpoint(md) {
      font-size: 15px;
    }

    @include breakpoint(lg) {
      font-size: 14px;
    }

    @include breakpoint(xxl) {
      font-size: 15px;
    }

  }

  // ---------------------------------------- Blockquote
  @if $style == blockquote {
    font-family: var(--theme-font-family--bc-eric-machat-script);
    font-weight: 400;
    font-style: normal;
  }

  // ---------------------------------------- Primary
  @if $style == banner {

    line-height: 1;
    font-size: 10px;

    @include breakpoint(sm) {
      font-size: 12px;
    }

    @include breakpoint(md) {
      font-size: 14px;
    }

    @include breakpoint(xxl) {
      font-size: 16px;
    }

  }

  // ---------------------------------------- Primary
  @if $style == 1 {

    font-size: var(--theme-body-copy);
    line-height: 1.15;

    ol, p, ul {
      margin-bottom: 22px;
    }

    @include breakpoint(lg) {

      font-size: var(--theme-body-copy--lg);

      ol, p, ul {
        margin-bottom: 26px;
      }

    }

  }

}
