@use 'sass:map';
@use '../variables' as *;
@use "breakpoint" as *;
@use "font" as *;

// ---------------------------------------- Size
@mixin caption-size( $size: 'xs' ) {
  @each $name, $value in map.get($theme-caption-font-sizes, $size) {
    @if $name == 'base' {
      font-size: $value;
    } @else {
      @include breakpoint(#{$name}) {
        font-size: $value;
      }
    }
  }
}

// ---------------------------------------- Style
@mixin caption-style( $style: 'primary' ) {
  @if $style == 'primary' {
    @include font-akkurat-mono-ll(400);
    line-height: 1;
  }
}
