@mixin highlight-colour-for( $colour-name: 'white' ) {

  background: var(--theme-colour--yellow);
  color: var(--theme-colour--black);

  @if $colour-name == 'arlo-green' {
		background: var(--theme-colour--yellow);
    color: var(--theme-colour--black);
	}

  @if $colour-name == 'beige' {
		background: var(--theme-colour--black);
    color: var(--theme-colour--beige);
	}

  @if $colour-name == 'black' {
		background: var(--theme-colour--yellow);
    color: var(--theme-colour--black);
	}

  @if $colour-name == 'red' {
    background: var(--theme-colour--red);
    color: var(--theme-colour--black);
  }

	@if $colour-name == 'grey' {
		background: var(--theme-colour--yellow);
    color: var(--theme-colour--black);
	}

  @if $colour-name == 'yellow' {
		background: var(--theme-colour--black);
    color: var(--theme-colour--yellow);
	}

}
