@mixin font-akkurat-mono-ll( $weight: 400 ) {
  font-family: var(--theme-font-family--akkurat-mono-ll);
  font-style: normal;
  font-weight: $weight;
}

@mixin font-bc-eric-machat-script( $weight: normal ) {
  font-family: var(--theme-font-family--bc-eric-machat-script);
  font-style: normal;
  font-weight: $weight;
}

@mixin font-neue-haas-grotesk-display( $weight: 900 ) {
  font-family: var(--theme-font-family--neue-haas-grotesk-display);
  font-style: normal;
  font-weight: $weight;
}

@mixin font-not-sorry-serif( $weight: bold ) {
  font-family: var(--theme-font-family--not-sorry-serif);
  font-style: normal;
  font-weight: $weight;
}

@mixin font-sorry-sans( $weight: bold ) {
  font-family: var(--theme-font-family--sorry-sans);
  font-style: normal;
  font-weight: $weight;
}
