@use 'sass:map';
@use '../variables' as *;
@use "breakpoint" as *;
@use "font" as *;

// ---------------------------------------- Size
@mixin heading-size( $size: 'xs' ) {

  @each $name, $value in map.get($theme-heading-font-sizes, $size) {
    @if $name == 'base' {
      font-size: $value;
    } @else {
      @include breakpoint(#{$name}) {
        font-size: $value;
      }
    }
  }

}

// ---------------------------------------- Style
@mixin heading-style( $style: 'primary' ) {

  display: block;
  color: inherit;
  margin: 0;
  padding: 0;

  @if $style == 1 or $style == 'primary' {
    @include font-sorry-sans(bold);
    line-height: 1.2;
  }

  @if $style == 2 or $style == 'secondary' {
    @include font-not-sorry-serif(bold);
    line-height: 1.2;
  }

  @if $style == 3 or $style == 'tertiary' {
    @include font-neue-haas-grotesk-display(900);
    line-height: 1.2;
  }

}

// ---------------------------------------- LEGACY
@mixin heading($style:1) {

  font-family: var(--theme-font-family--sorry-sans);
  display: block;
  font-style: normal;
  color: inherit;
  margin: 0;
  padding: 0;
  text-transform: none;
  font-weight: 700;
  line-height: 1.05;

  // ---------------------------------------- 1 / Primary
  @if $style == 1 {

    $coefficent: 1;

    font-size: calc( $coefficent * var(--theme-heading) );

    @include breakpoint(sm) {
      font-size: calc( $coefficent * var(--theme-heading--sm) );
    }

    @include breakpoint(md) {
      font-size: calc( $coefficent * var(--theme-heading--md) );
    }

    @include breakpoint(lg) {
      font-size: calc( $coefficent * var(--theme-heading--lg) );
    }

    @include breakpoint(xl) {
      font-size: calc( $coefficent * var(--theme-heading--xl) );
    }

    @include breakpoint(xxl) {
      font-size: calc( $coefficent * var(--theme-heading--xxl) );
    }

  }

  // ---------------------------------------- 2 / Secondary
  @if $style == 2 {

    $coefficent: 0.85;

    font-size: calc( $coefficent * var(--theme-heading) );

    @include breakpoint(sm) {
      font-size: calc( $coefficent * var(--theme-heading--sm) );
    }

    @include breakpoint(md) {
      font-size: calc( $coefficent * var(--theme-heading--md) );
    }

    @include breakpoint(lg) {
      font-size: calc( $coefficent * var(--theme-heading--lg) );
    }

    @include breakpoint(xl) {
      font-size: calc( $coefficent * var(--theme-heading--xl) );
    }

    @include breakpoint(xxl) {
      font-size: calc( $coefficent * var(--theme-heading--xxl) );
    }

  }

  // ---------------------------------------- 2 / Secondary
  @if $style == 3 {

    $coefficent: 0.75;

    font-size: calc( $coefficent * var(--theme-heading) );

    @include breakpoint(sm) {
      font-size: calc( $coefficent * var(--theme-heading--sm) );
    }

    @include breakpoint(md) {
      font-size: calc( $coefficent * var(--theme-heading--md) );
    }

    @include breakpoint(lg) {
      font-size: calc( $coefficent * var(--theme-heading--lg) );
    }

    @include breakpoint(xl) {
      font-size: calc( $coefficent * var(--theme-heading--xl) );
    }

    @include breakpoint(xxl) {
      font-size: calc( $coefficent * var(--theme-heading--xxl) );
    }

  }

  // ---------------------------------------- Longevity Club
  @if $style == longevity-club-spine {
    font-family: var(--theme-font-family--neue-haas-grotesk-display);
    font-weight: 900;
    font-style: italic;
    line-height: 1;
  }

  // ---------------------------------------- Title
  @if $style == title {

    font-size: 44px;
    line-height: 1;
    margin: 0 auto;

    @include breakpoint(sm) {
      font-size: 50px;
    }

    @include breakpoint(md) {
      font-size: 60px;
    }

    @include breakpoint(lg) {
      font-size: 90px;
    }

    @include breakpoint(xl) {
      font-size: 110px;
    }

    @include breakpoint(xxl) {
      font-size: 120px;
    }

  }

}

