@use 'sass:map';
@use '../variables' as *;
@use "breakpoint" as *;
@use "font" as *;

// ---------------------------------------- Size
@mixin marquee-size( $size: 'md' ) {

  @each $name, $value in map.get($theme-marquee-font-sizes, $size) {
    @if $name == 'base' {
      font-size: $value;
    } @else {
      @include breakpoint(#{$name}) {
        font-size: $value;
      }
    }
  }

}

// ---------------------------------------- Style
@mixin marquee-style( $style: 'primary' ) {

  display: block;
  color: inherit;
  margin: 0;
  padding: 0;

  @if $style == 1 or $style == 'primary' {
    @include font-sorry-sans(bold);
  }

  @if $style == 2 or $style == 'secondary' {
    @include font-not-sorry-serif(bold);
  }

  @if $style == 3 or $style == 'tertiary' {
    @include font-neue-haas-grotesk-display(900);
  }

}
