@use 'sass:map';
@use '../variables' as *;
@use "breakpoint" as *;
@use "font" as *;

// ---------------------------------------- Style
@mixin title( $style: 1 ) {

  display: block;
  color: inherit;
  margin: 0;
  padding: 0;

  @if $style == 'primary' {
    @include font-sorry-sans();
    @each $name, $value in $theme-font-sizes-title {
      @if $name == 'base' {
        font-size: $value;
      } @else {
        @include breakpoint(#{$name}) {
          font-size: $value;
        }
      }
    }
    line-height: 1.14;
  }

  @if $style == 'post' {
    @include font-sorry-sans();
    text-transform: uppercase;
    line-height: 1;
    font-size: 7vw;
    @include breakpoint(sm) { font-size: 32px; }
    @include breakpoint(md) { font-size: 42px; }
    @include breakpoint(lg) { font-size: 46px; }
    @include breakpoint(xl) { font-size: 54px; }
    @include breakpoint(xxl) { font-size: 60px; }

  }

}
