%ui-base {
  display: inline-flex;
  width: auto;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background: transparent;
  line-height: 1;
  text-decoration: none;
  outline: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  svg {
    fill: currentColor;
  }
}

%ui-disabled {
  &[disabled] {
    cursor: no-drop;
    opacity: 0.3333;
    &:focus,
    &:hover {
      background: initial;
      color: initial;
    }
  }
}

%ui-input {
  outline: none;
  padding: 0;
  margin: 0;
  min-width: 100%;
  border: none;
  border-radius: 0;
  &[type="search"] {
    -webkit-appearance: none;
  }
}

%ui-transition {
  transition:
    background var(--theme-transition--duration),
    border var(--theme-transition--duration),
    color var(--theme-transition--duration),
    opacity var(--theme-transition--duration),
    transform var(--theme-transition--duration);
}

@mixin ui($style:'') {

  @extend %ui-base;

  &:focus,
  &:hover {
    text-decoration: none;
    outline: none;
  }

  &[data-colour-theme="blue"] {
    background: var(--theme-colour--blue);
    color: var(--theme-colour--white);
    &:focus,
    &:hover {
      background: var(--theme-colour--black);
      color: var(--theme-colour--white);
    }
  }

  &[data-colour-theme="yellow"] {
    background: var(--theme-colour--yellow);
    color: var(--theme-colour--black);
    &:focus,
    &:hover {
      background: var(--theme-colour--black);
      color: var(--theme-colour--white);
    }
  }

  @if $style == button {
    border-width: var(--theme-border--width);
    border-style: solid;
    border-color: transparent;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

}
