@use "../utils/mixins/breakpoint" as *;

.contact-us {

  a {
    color: inherit;
    line-height: inherit;
  }

  span {
    display: block;
  }

  &__location {
    &-cta,
    &-phone {
      margin-top: 22px;
    }
    &-city {
      font-weight: inherit;
      text-transform: uppercase;
      & + .contact-us__location-address {
        margin-top: 15px;
      }
    }
  }

  &__heading {
    & + .contact-us__message,
    & + .contact-us__locations {
      margin-top: 22px;
    }
  }

  &__locations {
    display: grid;
    width: 100%;
    grid-template-columns: repeat( 1, 1fr );
    row-gap: 32px;
    line-height: 1.32;
  }

  @include breakpoint(sm) {

    &__locations {
      grid-template-columns: repeat( 2, 1fr );
      row-gap: 0;
      column-gap: 20px;
    }

  }

  @include breakpoint(lg) {

    &__locations {
      grid-template-columns: repeat( 4, 1fr );
    }

  }

}
