@use '../utils/mixins/breakpoint' as *;

.fifty-fifty {

  .grid {

  }

  &__item {
    width: 100%;
    display: flex;
  }

  &__content {
    &-icon,
    &-message {
      & + .fifty-fifty__content-cta {
        margin-top: 26px;
      }
      img {
        width: auto;
        height: auto;
        display: block;
      }
    }
    &-icon {
      width: 200px;
      height: auto;
      & + .fifty-fifty__content-message {
        margin-top: 26px;
      }
    }
  }

  &__caption {
    margin-top: 24px;
  }

  &__media {
    &-image {
      width: 100%;
      height: auto;
      & + .fifty-fifty__media-caption {
        margin-top: 16px;
      }
    }
  }

  &[data-full-bleed="false"] {
    .grid {
      gap: 55px;
    }
  }

  &[data-full-bleed="true"] {
    background: var(--theme-colour--black);
    color: var(--theme-colour--white);
    .fifty-fifty {
      &__content {
        width: 100%;
        padding: 30px;
        margin: 0 auto;
      }
      &__main {
        gap: 0;
      }
    }
  }

  @include breakpoint(sm) {

    &[data-full-bleed="true"] {
      .fifty-fifty {
        &__content {
          max-width: var(--theme-container--sm);
          padding: 48px 0;
        }
      }
    }

  }

  @include breakpoint(md) {

    .grid--2,
    .grid--3 {
      grid-template-columns: unset;
    }

    &[data-full-bleed="true"] {
      .fifty-fifty {
        &__content {
          max-width: var(--theme-container--md);
        }
      }
    }

  }

  @include breakpoint(lg) {

    .grid--2 {
      grid-template-columns: repeat(2, 1fr);
    }

    .grid--3 {
      grid-template-columns: repeat(3, 1fr);
    }



    &__caption {
      position: absolute;
      margin-top: 22px;
    }

    &__content {
      display: flex;
      flex-flow: column;
      justify-content: center;
      &-icon {
        width: 180px;
        height: auto;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }

    &__media {
      &-image {
        height: 100%;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &[data-justification="media-left"] {
      .fifty-fifty {
        &__content {
          order: 2;
        }
        &__media {
          order: 1;
          img {
            margin-right: auto;
          }
        }
      }
    }

    &[data-justification="media-right"] {
      .fifty-fifty {
        &__content {
          order: 1;
        }
        &__media {
          order: 2;
          img {
            margin-left: auto;
          }
        }
      }
    }

    &[data-vertical-alignment="center"] {
      .fifty-fifty {
        &__main {
          align-items: center;
        }
      }
    }

    &[data-vertical-alignment="top"] {
      .fifty-fifty {
        &__main {
          align-items: flex-start;
        }
      }
    }

    &[data-full-bleed="false"] {
      .grid {
        gap: 50px;
      }
    }

    &[data-full-bleed="true"] {
      .fifty-fifty {
        &__content {
          max-width: calc( var(--theme-container--lg ) * 0.5 );
          padding: 0 48px;
          margin: 0;
        }
      }
      &[data-justification="media-left"] {
        .fifty-fifty {
          &__content {
            justify-self: flex-start;
          }
        }
      }
      &[data-justification="media-right"] {
        .fifty-fifty {
          &__content {
            justify-self: flex-end;
          }
        }
      }
    }

  }

  @include breakpoint(xl) {

    &__content,
    &__media {
      aspect-ratio: 4/3;
    }

    &__content {
      &-icon {
        width: 200px;
      }
    }

    &[data-full-bleed="false"] {
      .grid {
        gap: 72px;
      }
    }

    &[data-full-bleed="true"] {
      .fifty-fifty {
        &__content {
          max-width: calc( var(--theme-container--xl ) * 0.5 );
        }
      }
    }

  }

  @include breakpoint(xxl) {

    &__content {
      &-icon {
        width: 220px;
      }
    }

    &[data-full-bleed="false"] {
      .grid {
        gap: 92px;
      }
    }

    &[data-full-bleed="true"] {
      .fifty-fifty {
        &__content {
          max-width: calc( var(--theme-container--xxl ) * 0.5 );
        }
      }
    }

  }

}
