@use '../utils/mixins/breakpoint' as *;

.fifty-fifty {

  .container {
    .grid {
      gap: 55px;
      &__item {
        background: none;
        color: inherit;
        &--content {
          padding: 0;
        }
      }
    }
  }

  .grid {
    &__item {
      background: var(--theme-colour--black);
      color: var(--theme-colour--white);
      display: flex;
      width: 100%;
      height: auto;
      flex-flow: column;
      &--content {
        padding: 30px var(--theme-layout--container-padding);
      }
    }
  }

  &__content,
  &__media {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  &__content {
    &-icon,
    &-message {
      & + .fifty-fifty__content-cta {
        margin-top: 26px;
      }
    }
    &-icon {
      width: 230px;
      height: auto;
      img, svg {
        display: block;
        width: 100%;
        height: auto;
      }
      & + .fifty-fifty__content-message {
        margin-top: 26px;
      }
    }
  }

  @include breakpoint(sm) {

    .container {
      .grid {
        gap: 55px;
        .fifty-fifty__content {
          max-width: none;
        }
      }
    }

    .grid {
      &__item {
        &--content {
          padding: 48px 0;
        }
      }
    }

    &__content {
      max-width: var(--theme-container--sm);
      &-icon {
        width: 240px;
      }
    }

  }

  @include breakpoint(md) {

    .grid {
      &--2{
        grid-template-columns: unset;
      }
    }

    &__content {
      max-width: var(--theme-container--md);
      &-icon {
        width: 250px;
      }
    }

  }

  @include breakpoint(lg) {

    .container {
      .fifty-fifty {
        &__content {
          max-width: none;
        }
        &__media {
          height: auto;
          &-image {
            height: auto;
            width: 100%;
            img {
              object-fit: unset;
            }
          }
        }
      }
      .grid {
        gap: 50px;
        &__item {
          width: 100%;
          height: auto;
          aspect-ratio: unset;
        }
      }
    }

    .grid {
      &--2 {
        grid-template-columns: repeat(2, 1fr);
      }
      &--align-center {
        .grid__item {
          justify-content: center;
        }
      }
      &--align-top {
        .grid__item {
          justify-content: flex-start;
        }
      }
      &--media-left {
        .fifty-fifty__content {
          margin-left: 0;
        }
        .grid__item--content {
          order: 2;
        }
        .grid__item--media {
          order: 1;
        }
      }
      &--media-right {
        .fifty-fifty__content {
          margin-right: 0;
        }
        .grid__item--content {
          order: 1;
        }
        .grid__item--media {
          order: 2;
        }
      }
      &__item {
        aspect-ratio: 4/3.5;
        &--content {
          padding: 0 48px;
        }
      }
    }

    &__content {
      max-width: calc( var(--theme-container--lg ) * 0.5 );
      &-icon {
        width: 180px;
      }
    }

    &__media {
      height: 100%;
      &-image {
        height: 100%;
        width: 100%;
        img {
          object-fit: cover;
        }
      }
    }

  }

  @include breakpoint(xl) {

    .container {
      .grid {
        gap: 72px;
      }
    }

    .grid {
      &__item {
        aspect-ratio: 4/3.25;
      }
    }

    &__content {
      max-width: calc( var(--theme-container--xl ) * 0.5 );
      &-icon {
        width: 200px;
      }
    }

  }

  @include breakpoint(xxl) {

    .container {
      .grid {
        gap: 92px;
      }
    }

    .grid {
      &__item {
        aspect-ratio: 4/3;
      }
    }

    &__content {
      max-width: calc( var(--theme-container--xxl ) * 0.5 );
      &-icon {
        width: 220px;
      }
    }

  }

}
