@use "../utils/variables" as *;
@use "../utils/mixins/breakpoint" as *;

@debug "Not sure about this";

.section--job-postings {

  $hr-horizontal-offset: 25px;

  margin-top: 38px;

  .hr {
    display: block;
    width: 100%;
    padding: 4px 0;
    margin: 35px 0;
  }

	@include breakpoint(md) {

  	.hr {
    	width: calc( 100% + (#{$hr-horizontal-offset}*2) );
    	left: -$hr-horizontal-offset;
      margin: 42px 0;
      position: relative;
    }

	}

}
