@use "../utils/variables" as *;
@use "../utils/mixins/breakpoint" as *;

@debug "Not sure about this";

.section {

  position: relative;

  &[data-row-layout="button"] {
    .button {
      cursor: default;
      &__link {
        cursor: pointer;
      }
    }
  }

  &[data-margin-bottom] {
    margin-bottom: 28px;
  }

  @include breakpoint(lg) {

    &[data-margin-bottom] {
      margin-bottom: 38px;
    }

  }

}
