.section--button {

  .button {
    width: 100%;
    &__image {
      &-animated,
      &-static {
        position: relative;
        width: 100%;
        height: auto;
      }
      &-static {
        &-rollover {
          transition: opacity var(--theme-transition--duration);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }
    }
    &__link {
      width: 100%;
      max-width: 600px;
      &:hover {
        .button__image-static-rollover {
          opacity: 1;
        }
      }
    }
    &__main {
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
  }

}
