@use "../utils/variables" as *;
@use "../utils/mixins/breakpoint" as *;

@debug "Not sure about this";

.section--404 {

  display: flex;
  min-height: 100%;
  align-items: center;

	.section__main {
  	width: 100%;
  	text-align: center;
  	height: auto;
	}

	h1, h2 {
  	font-family: var(--theme-serif--akkurat );
    font-weight: normal;
  	text-transform: none;
  	& + p {
    	margin-top: 28px;
  	}
	}

	h1 + h2 {
  	margin-top: 10px;
	}

}
