@use "../utils/mixins/breakpoint" as *;

.services {

  &__heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 24px;
  }

  &__item {
    &-heading,
    &-message {
      display: block;
    }
    &-heading {
      margin-bottom: 20px;
    }
    &-image {
      width: 100%;
      height: auto;
      img, svg {
        display: block;
        width: 100%;
        height: auto;
      }
      & + .services__item-heading,
      & + .services__item-message {
        margin-top: 32px;
      }
    }
  }

  &__list {
    display: grid;
    width: 100%;
    row-gap: 50px;
  }

  @include breakpoint(lg) {

    &__heading {
      font-size: 72px;
      margin-bottom: 60px;
    }

    &__item {
      &.end {
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__list {
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--theme-layout--gutter);
    }

  }

}
