@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;

.services-list {

  &__heading {
    & + .services-list__list {
      margin-top: 22px;
    }
  }

  &__list {
    display: grid;
    width: 100%;
  }

  &__main {
    @include border-solid( var(--theme-border--width), 'inherit', 'top' );
    @include border-solid( var(--theme-border--width), 'inherit', 'bottom' );
    padding: 20px 0 40px;
    width: 100%;
    position: relative;
  }

  @include breakpoint(lg) {

    &__extras {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      height: 100%;
      width: auto;
      align-items: center;
      &-image {
        height: calc( 100% - 60px );
        width: auto;
        margin: 0 40px 0 0;
        img, svg {
          width: auto;
          height: 100%;
          display: block;
        }
      }
    }

    &__list {
      width: 50%;
    }

  }

}
