@use '../utils/mixins/breakpoint' as *;
@use '../utils/mixins/font' as *;

.card-masonry {

  &__cats-child,
  &__cats-parent {
  	text-transform: uppercase;
  	left: 0;
  	position: absolute;
  	width: 100%;
    padding: 0 20px;
    font-size: 12px;
    line-height: 1;
	}

  &__cats-child {
    bottom: 22px;
  }

  &__cats-parent {
    top: 28px;
  }

  &__content {
    transition: opacity 280ms;
    background: var(--theme-colour--yellow);
    color: var(--theme-colour--black);
    opacity: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  &__image {
  	position: relative;
  	overflow: hidden;
	}

  &__link {
    &:focus,
    &:hover {
      .card-masonry__content {
        opacity: 1;
      }
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 100%;
    height: auto;
    display: flex;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__title {
    padding: 0 20px;
    font-size: 22px;
    line-height: 1.15;
    margin: 0;
  }

  @include breakpoint(sm) {

    &__cats-child,
    &__cats-parent {
    	font-size: 14px;
  	}

    &__cats-child {
    	bottom: 36px;
  	}

    &__cats-parent {
      top: 40px;
    }

    &__title {
      font-size: 28px;
    }

  }

  @include breakpoint(md) {

    &__cats-child {
    	bottom: 34px;
  	}

    &__cats-parent {
      top: 40px;
    }

    &__title {
      font-size: 26px;
    }

  }

  @include breakpoint(lg) {

    &__cats-child {
    	bottom: 30px;
  	}

    &__cats-parent {
      top: 36px;
    }

    &__title {
      font-size: 25px;
    }

  }

  @include breakpoint(xl) {

    &__cats-child {
    	bottom: 32px;
  	}

    &__cats-parent {
      top: 38px;
    }

    &__title {
      font-size: 26px;
    }

  }

  @include breakpoint(xxl) {

    &__cats-child {
    	bottom: 28px;
  	}

    &__cats-parent {
      top: 38px;
    }

    &__title {
      font-size: 26px;
    }

  }

}
