@use '../utils/mixins/breakpoint' as *;

.card-post {

  display: flex;
  width: 100%;
  flex-flow: column wrap;

  .image {
    .link {
      width: 100%;
      display: block;
    }
  }

  &__badge {
    position: absolute;
    width: 30%;
    height: auto;
    top: 12px;
    left: 6px;
    transform: rotate(-7.5deg);
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__categories {
    font-family: var(--theme-font-family--bc-eric-machat-script);
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    & + .card-post__title {
      margin-top: 10px;
    }
  }

  &__cta {
    margin-top: 14px;
  }

  &__excerpt {
    margin-top: 12px;
  }

  &__featured-image {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    &-link {
      width: 100%;
      height: auto;
      display: block;
      &:focus,
      &:hover {
        opacity: 0.6666;
      }
    }
    & + .card-post__content {
      margin-top: 0;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 6.5vw;
    line-height: 1;
  }

  .with-aspect-ratio & {
    &__featured-image img {
      height: 100%;
      object-fit: cover;
    }
  }

  @include breakpoint(sm) {

    &__title {
      font-size: 30px;
    }

  }

  @include breakpoint(md) {

    &__title {
      font-size: 30px;
    }

    &.featured {
      .card-post__title {
        font-size: 36px;
      }
    }

    &.featured {
      flex-flow: unset;
      display: grid;
      align-items: flex-end;
      grid-template-columns: repeat(2, 1fr);
    }

  }

  @include breakpoint(lg) {

    &__title {
      font-size: 30px;
    }

    &.featured {
      .card-post__title {
        font-size: 42px;
      }
    }

  }

  @include breakpoint(xl) {

    &__title {
      font-size: 32px;
    }

    &.featured {
      .card-post__title {
        font-size: 46px;
      }
    }

  }

  @include breakpoint(xxl) {

    &__title {
      font-size: 38px;
    }

    &.featured {
      .card-post__title {
        font-size: 56px;
      }
    }

  }

}
